/*
Theme Name: zaiken2
*/
@charset "utf-8";

 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers  */ article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }



html * {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}
body {
	width: 100%;
	font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}
#head {
	display: block;
	width: 100%;
	height: auto;
	border: 0px solid red;
}
#head img {
	display: block;
	width: 100%;
	height: auto;
}

	#head h1 {
		display: block;
		width: 17%;
		height: auto;
		position: absolute;
		top: 0;
		left: 0;
	}
	#head h1 img {
		display: block;
		width: 100%
	}
	#head h2 {
		display: block;
		width: 80vw;
		height: 72px;
		position: absolute;
		top: 19vw;
		left: 12vw;
		color: white;
		font-weight: bold;
/* 		font-size: 44px; */
		font-size: 3vw;
	}
	#head h2 p {
		margin: 0 0 4vw 0;
    font-family: "a-otf-ud-shin-go-pr6n";
	}
		.h2color01 {
			color: #008844;
		}
		.h2color02 {
			color: #91c549;
		}
	#head h2:hover {
		color: gold;
	}


/* 追加0830 */
a,p,span,.text2,.text1 {
    font-family: "a-otf-ud-shin-go-pr6n";

}

/* 追加0830 */
.top-chati  span{
font-family: "kozuka-mincho-pro";
}


	#navi {
		display: block;
		position: absolute;
		width: 40vw;
		height: 4vw;
		top: 38px;
		right: 2vw;
		border: 0px solid red;
		font-size: 1vw;
	}
	#navi li {
		display: block;
		float: left;
		width: 20%;
		height: 40px;
		text-align: center;
		border: 0px solid red;
	}
	#navi li a {
		color: white;
		font-size: 14px;
		text-decoration: none;
		font-weight: bold;
		font-size: 1vw;
	}
	#navi li a .jp {
		font-size: 0.5vw;
		font-weight: normal;
margin-top: 6px;
    font-family: "kozuka-mincho-pro";
	}
	#navi li a:hover {
		color: pink;
	}

#mbox01 {
	display: block;
	width: 100%;
	height: 1080px;
}
#mbox01 img.har_main01 {
	display: block;
	width: 100%;
	height: auto;
}

#mbox01 {
	position: relative;
	display: block;
	width: 1080px;
	height: 450px;
	margin: 80px auto 0;
}
	#mbox01 .top02 {
		float: left;
		width: 470px;
	}
	#mbox01 .top02 img {
		width: 100%;
		height: auto;
	}
	#mbox01 .top06 {
		float: left;
		width: 470px;
	}
	#mbox01 .top05 {
		float: left;
		width: 560px;
		margin: 0 0 0 28px;
	}
	#mbox01 .top03 {
		float: left;
		margin: 0 0 0 28px;
		width: 560px;
	}
	#mbox01 .top04 {
		margin: 0 0 0 28px;
		line-height: 20px;
		width: 560px;
	}

/* 追加0830 */
.top04 p{
    color: #111111;
    font-size: 14px;
font-family: "proxima-nova";
}




#mbox02 {
	position: relative;
	display: block;
	width: 1080px;
	height: 650px;
	margin: 120px auto 0;
	border: 0px solid blue;
}
	#mbox02 .mbox02_1 {
		position: relative;
		float: left;
		display: block;
		width: 358px;
		height: 460px;
		margin: 0 2px 0 0;
		background: #4dbf8a;
	}
	#mbox02 .mbox02_2 {
		position: relative;
		float: left;
		display: block;
		width: 358px;
		height: 460px;
		margin: 0 2px 0 0;
		background: #eab210;
		
	}
	#mbox02 .mbox02_3 {
		position: relative;
		float: left;
		display: block;
		width: 358px;
		height: 460px;
		margin: 0 2px 0 0;
		background: #4c9bca;
		margin: 0;
	}
	#mbox02 h2 {
    color: white;
    font-size: 50px;
    letter-spacing: 0.1em;
    text-align: center;
    margin: 30px 0 20px 0;
    font-family: "kozuka-mincho-pro";
	}
	#mbox02 p {
		color: white;
		line-height: 30px;
		margin: 0 20px;
	}
	#mbox02 a {
		color: white;
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 5px 40px 0 0;
		margin: 0 40px 20px 0;
		text-decoration: none;
		font-weight: bold;
		background: url(./img/a.png) no-repeat right;
	}
#mbox03 {
	position: relative;
	display: block;
	width: 100%;
	height: 950px;
	margin: 45px auto 0;
	background: #e3eeea;
	border: 0px solid red;
}
#mbox03_inner {
	position: relative;
	display: block;
	width: 1120px;
	height: 950px;
	margin: 0 auto;
	overflow-x: auto;
	left: 20px;
}
	#mbox03 h2 {
		background: url(./img/top11.png);
		display: block;
		width: 1080px;
		height: 191px;
		padding: 100px 0 0 0;
		text-align: center;
		color: #008742;
		font-size: 40px;
    font-family: "kozuka-mincho-pro";
    letter-spacing: 0.3em;
	}
	#mbox03 h2 .jp {
		margin: 10px 0 0 0;
		font-size: 18px;
    font-family: "kozuka-mincho-pro";
	}
	#mbox03 li {
		display: block;
		float: left;
		width: 340px;
		height: 275px;
		margin: 0 28px 25px 0;
		border: 0px solid red;
	}
	#mbox03 li img {
		margin: 0 0 10px 0;
		float: left;
	}
	#mbox03 li .text1 {
		display: block;
		float: left;
		width: 60px;
		height: 43px;
		margin: 0;
		text-align: center;
		border-right: 1px solid black;
	}
	#mbox03 li .text1 .date {
		float: left;
		font-size: 20px;
		margin: 5px 0 0 0;
		width: 100%;
		text-align: center;
	}
	#mbox03 li .text2 {
		float: left;
		width: 270px;
		font-size: 14px;
		padding: 0 0 0 20px;
		line-height: 40px;
	}
	#mbox03 .mbox03_btn {
		display: block;
		float: left;
		width: 100%;
		height: 63px;
		margin: 40px auto 0;
		padding: 0 0 0 420px;
	}
	#mbox03 .mbox03_btn a {
		display: block;
		float: left;
		width: 245px;
		height: 63px;
		color: #018843;
		background: #fff;
		text-decoration: none;
		line-height: 63px;
		padding: 0 0 0 30px;
    border: 1px solid;
position: absolute;
	}
#mbox03 .mbox03_btn a:after{
position: relative;
left: 88px;
}


	#mbox03 .mbox03_btn a:hover{
background-color: #018843;
color: #fff;
}

#mbox04  {
	display: block;
	width: 100%;
	height: 344px;
	margin: 0 auto;
	border: 0px solid red;
}
#mbox04  {
	display: block;
	width: 100%;
	height: 344px;
	margin: 0 auto;
	border: 0px solid red;
}

	#mbox04 h2 {
		display: block;
		height: 344px;
		width: 1080px;
		margin: 0 auto;
		background: url(./img/top12.png) no-repeat top center;
		border: 0px solid red;
		text-align: center;
		padding: 200px 0 0 0;
		font-size: 30px;
		color: #028843;
    font-family: "kozuka-mincho-pro";
    letter-spacing: 0.3em;
	}
#mbox05  {
	display: block;
	width: 100%;
	height: 325px;
	margin: 0 auto;
	border: 0px solid red;
}
#mbox05_inner  {
	display: block;
	width: 1540px;
	height: 320px;
	margin: 0 auto;
	left: 20px;
	border: 0px solid red;
}
	#mbox05 li {
		display: block;
		position: relative;
		float: left;
		width: 359px;
		height: 320px;
		margin: 0 20px 0 0;
		text-align: center;
		border: 0px solid red;
	}

	#mbox05 li .text1 {
		display: block;
		position: absolute;
		top: 130px;
		left: 120px;
		text-align: center;
		color: white;
		font-size: 30px;
		font-weight: bold;
    letter-spacing: 0.1em;
	}
	#mbox05 li .text2 {
		font-size: 14px;
		padding: 14px 0 0 10px;
	}

#footer1 {
	display: block;
	width: 100%;
	height: 480px;
	margin: 130px 0 0 0;
	background: url(./img/img14.jpg);
    background-size: cover;
}
#footer1_inner {
	display: block;
	width: 1080px;
	height: 480px;
	margin: 0 auto;
	text-align: center;
	border: 0px solid red;
	color: #008742;
}
	.footer1_1 {
		display: block;
		width: 1080px;
		height: 180px;
		margin: 0 auto;
		border: 0px solid red;
	}
		.footer1_1 a {
			color: #008742;
			display: block;
			text-decoration: none;
			font-size: 40px;
			margin: 70px 0 0 0;
    padding-top: 75px;
letter-spacing: 0.1em;
		}
		.footer1_1 a .jp {
			color: #008742;
			display: block;
			text-decoration: none;
			font-size: 18px;
			margin: 20px 0 0 0;
		}


.footer1_1 h2{
    display: block;
    width: 1080px;
    height: 191px;
    padding: 56px 0 0 0;
    text-align: center;
    color: #008742;
    font-size: 40px;
    font-family: "kozuka-mincho-pro";
    letter-spacing: 0.3em;
}
.footer1_1 h2 .jp{
    margin: 10px 0 0 0;
    font-size: 18px;
    font-family: "kozuka-mincho-pro";
}



	.footer1_2 {
		display: block;
		width: 1080px;
		height: 330px;
		margin: 0 auto;
		padding: 10px 0 0 0;
		border: 0px solid red;
	}
		.footer1_2 li {
			display: block;
			float: left;
			width: 530px;
			height: 200px;
			margin: 0 auto;
			background: white;
/* 			background: url(./img/sample201.png); */
			border: 0px solid red;
		}
		.footer1_2 a {
			color: #008742;
			text-decoration: none;
    font-family: -webkit-body;
		}
			.footer1_2 li .text1 {
				margin: 45px 0 0 0;
				font-size: 20px;
			}
			.footer1_2 li .text2 {
				margin: 13px auto 0;
				width: 146px;
				font-size: 20px;
				border-top: 1px solid #008742;
			}
			.footer1_2 li .text3 {
				margin: 20px 0 0 0;
				font-size: 44px;
				font-weight: bold;
			}
			.footer1_2 li .text4 {
				margin: 12px 0 0 0;
				font-size: 14px;
			}
		.footer1_2 li.end {
			position: relative;
			left: 20px;
/* 			background: url(./img/sample202.png); */
		}
			.footer1_2 li.end .text1 {
				margin: 45px 0 0 0;
				font-size: 20px;
			}
			.footer1_2 li.end .text5 {
				display: block;
				width: 245px;
				height: 63px;
				margin: 40px auto 0;
				background: url(./img/contact02.png);
			}
			.footer1_2 li.end .text5 a {
				display: block;
				width: 245px;
				height: 63px;
				line-height: 63px;
				text-decoration: none;
				color: white;
				font-weight: bold;
				border: 0px solid red;
				text-indent: -30px;
			}


#footer2 {
	display: block;
	width: 100%;
	height: 360px;
	background: url(./img/footer.jpg);
	border: 0px solid red;
}
#footer2_inner {
	display: block;
	width: 1080px;
	height: 360px;
	margin: 0 auto;
	border: 0px solid red;
	color: white;
/* 	background: url(./img/footer05.png); */
}
	.footer2_1 {
		display: block;
		float: left;
		width: 540px;
		height: 300px;
		margin: 0 auto;
		border: 0px solid red;
	}
		.footer2_1 h2 {
			margin: 50px 0 0 0;
		}
		.footer2_1 ul {
			margin: 15px 0 0 0;
		}
		.footer2_1 ul li {
			line-height: 24px;
		}
	.footer2_2 {
		display: block;
		float: left;
		width: 530px;
		height: 300px;
		margin: 0 auto;
		border: 0px solid red;
	}

	.footer2_2 a {
		text-decoration: none;
		color: white;
	}

.footer2_2 a:hover{
color: pink;
}

		.footer2_2 ul {
			float: left;
			width: 180px;
			height: 220px;
			margin: 55px 0 0 170px;
			border: 0px solid red;
		}
		.footer2_2 ul.end {
			float: left;
			margin: 50px 0 0 40px;
		}
		.footer2_2 ul li {
			line-height: 40px;
		}
	.footer2_3 {
		display: block;
		float: left;
		width: 1080px;
		height: 60px;
		margin: 0 auto;
		line-height: 60px;
		color: white;
		text-align: center;
		font-size: 14px;
	}
.entry-title {
	display: none;
}






