@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.banner {
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
  p {
    font-size: vw(40);
    line-height: vw(65);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: vw(30);
    color: #fff;
    font-weight: bold;
    em {
      font-style: normal;
      &.active {
        strong {
          span {
            opacity: 1;
            transform: translate3d(0, 0, 0);
          }
        }
      }
      &:nth-of-type(3) {
        .txt_mincho {
          span {
            &:nth-of-type(1) {
              color: #008842;
            }
            &:nth-of-type(4) {
              color: #8ec54a;
            }
          }
        }
      }
    }
    strong {
      letter-spacing: vw(5);
      span {
        display: inline-block;
        opacity: 0;
        transform: translate3d(50px, 0, 0);
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease;
      }
      &.txt_mincho {
        font-family: $mincho;
      }
    }
  }
}

.ttl_st {
  text-align: center;
  font-size: vw(50);
  color: #008842;
  line-height: 1;
  font-family: $mincho;
  font-weight: normal;
  position: relative;
  span {
    font-size: vw(30);
    color: #008842;
    display: block;
    line-height: 1;
    margin-top: 15px;
  }
}

.st_service {
  padding: vw(60) 0 vw(100);
  background: url(../images/bkg_service.png) no-repeat;
  background-size: cover;
  .ttl_st {
    margin-bottom: vw(80);
    &:before {
      content: "";
      background: url(../images/icon_service.png) no-repeat;
      background-size: contain;
      width: vw(53);
      height: vw(48);
      position: absolute;
      top: vw(-63);
      left: 50%;
      transform: translateX(-50%);
    }
    &:after {
      content: "Service";
      letter-spacing: vw(15);
      font-size: vw(160);
      line-height: 1;
      color: #8ec54a;
      font-family: $mincho;
      position: absolute;
      top: vw(-50);
      left: 50%;
      transform: translateX(-50%);
      z-index: 9;
      opacity: 0.15;
    }
  }
  &_t {
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: column;
    transform: translateZ(0);
    &:before {
      content: "";
      background: url(../images/bf_top_sv.png) no-repeat;
      width: vw(416);
      height: vw(395);
      position: absolute;
      top: vw(150);
      left: 0;
      z-index: -1;
    }
    &:after {
      content: "";
      background: url(../images/af_top_sv.png) no-repeat;
      width: vw(530);
      height: vw(564);
      position: absolute;
      bottom: vw(0);
      right: 0;
      z-index: -1;
    }
    figure {
      order: 2;
      text-align: center;
      margin-top: vw(40);
      img {
        width: vw(394);
        height: vw(368)
      }
    }
    &_l {
      order: 1;
      figure {
        width: 100%;
        margin-bottom: vw(30);
        img {
          width: 100%;
          height: auto;
        }
      }
      h3 {
        font-family: $mincho;
        font-size: vw(45);
        font-weight: normal;
        color: #008842;
        margin-bottom: vw(35);
      }
      p {
        font-size: vw(28);
        line-height: vw(44);
      }
    }
  }
  &_list {
    padding: vw(150) 0 0 0;
    &_gr {
      article {
        &:not(:last-child) {
          margin-bottom: vw(30);
        }
        &:nth-of-type(1) {
          background-color: #13ad66;
        }
        &:nth-of-type(2) {
          background-color: #eab210;
        }
        &:nth-of-type(3) {
          background-color: #0286c0;
        }
        a {
          height: 100%;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
        }
        figure {
          img {
            width: 100%;
            height: auto;
          }
        }
        h3 {
          font-size: vw(60);
          color: #fff;
          line-height: 1.5;
          margin: vw(30) 0;
          font-family: $mincho;
          font-weight: normal;
          text-align: center;
        }
        em {
          font-size: vw(28);
          color: #fff;
          line-height: vw(44);
          padding: 0 vw(30);
          display: block;
          font-style: normal;
        }
        .bottom_art {
          margin-top: vw(50);
          padding-bottom: vw(30);
          span {
            font-size: vw(28);
            font-weight: bold;
            color: #fff;
            line-height: 1;
            display: block;
            text-align: right;
            position: relative;
            margin-right: vw(30);
            padding-right: vw(50);
            &:after {
              content: "";
              background: url(../images/a.png) no-repeat;
              background-size: contain;
              width: vw(33);
              height: vw(6);
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 0;
            }
          }
        }
      }
    }
  }
}

.st_concept {
  padding: vw(180) 0 vw(130);
  background: url(../images/bkg_pickup.png) no-repeat;
  background-size: cover;
  .ttl_st {
    margin-bottom: vw(120);
    &:before {
      content: "";
      background: url(../images/icon_concept.png) no-repeat;
      background-size: contain;
      width: vw(60);
      height: vw(60);
      position: absolute;
      top: vw(-80);
      left: 50%;
      transform: translateX(-50%);
    }
    &:after {
      content: "Corporate";
      letter-spacing: vw(10);
      font-size: vw(130);
      line-height: 1;
      color: #8ec54a;
      font-family: $mincho;
      position: absolute;
      top: vw(-50);
      left: 50%;
      transform: translateX(-50%);
      z-index: 9;
      opacity: 0.15;
    }
  }
  &_l {
    display: flex;
    flex-flow: row wrap;
    margin-left: vw(-20);
    figure {
      position: relative;
      width: calc(50% - #{vw(20)});
      margin: 0 0 vw(20) vw(20);
      img {
        width: 100%;
        height: auto;
      }
      figcaption {
        font-size: vw(32);
        color: #fff;
        line-height: 1;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        width: 100%;
        span {
          display: block;
          font-size: vw(28);
          margin-top: 15px;
          font-weight: normal;
        }
      }
    }
  }
}

.st_information {
  background: url(../images/bkg_infor.jpg) no-repeat;
  background-size: cover;
  padding: vw(100) 0 vw(70);
  .ttl_st {
    margin-bottom: vw(40);
    &:before {
      content: "";
      background: url(../images/icon_infor.png) no-repeat;
      background-size: contain;
      width: vw(87);
      height: vw(41);
      position: absolute;
      top: vw(-60);
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &_l {
    display: flex;
    flex-flow: row wrap;
    margin-left: vw(-30);
    article {
      width: calc(50% - #{vw(30)});
      margin: 0 0 vw(30) vw(30);
      a {
        display: block;
        &:hover {
          opacity: 0.8;
          figure {
            img {
              transform: scale(1.1);
            }
          }
        }
      }
      figure {
        position: relative;
        overflow: hidden;
        img {
          width: 100%;
          height: auto;
        }
        figcaption {
          font-size: vw(28);
          line-height: 1;
          color: #fff;
          background-color: #8ec54a;
          padding: vw(10);
          display: inline-block;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
      .main_art {
        margin-top: vw(10);
        time {
          font-size: vw(20);
          font-weight: bold;
          text-align: center;
          border-bottom: 1px solid #5e5e5e;
          padding-bottom: vw(10);
          ins {
            font-size: vw(20);
            text-decoration: none;
            position: relative;
            &:before {
              content: ".";
              font-size: vw(20);
            }
          }
        }
        em {
          font-size: vw(30);
          line-height: vw(44);
          font-style: normal;
          display: block;
          margin-top: vw(15);
        }
      }
    }
  }
  .list_view {
    font-size: vw(28);
    line-height: 1;
    font-weight: bold;
    color: #008842;
    width: vw(500);
    height: vw(80);
    border: 1px solid #008842;
    border-radius: vw(8);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transform: perspective(1px) translateZ(0);
    transition-property: color;
    transition-duration: 0.3s;
    margin: vw(40) auto 0;
    &:after {
      content: "";
      background: url(../images/icon_green.png) no-repeat;
      background-size: contain;
      width: vw(33);
      height: vw(6);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: vw(65);
    }
  }
}

.st_pickup {
  padding: vw(180) 0 vw(130);
  background: url(../images/bkg_pickup.png) no-repeat;
  background-size: cover;
  .ttl_st {
    margin-bottom: vw(120);
    &:before {
      content: "";
      background: url(../images/icon_pickup.png) no-repeat;
      background-size: contain;
      width: vw(40);
      height: vw(48);
      position: absolute;
      top: vw(-63);
      left: 50%;
      transform: translateX(-50%);
    }
    &:after {
      content: "PickUp";
      letter-spacing: vw(15);
      font-size: vw(160);
      line-height: 1;
      color: #8ec54a;
      font-family: $mincho;
      position: absolute;
      top: vw(-50);
      left: 50%;
      transform: translateX(-50%);
      z-index: 9;
      opacity: 0.15;
    }
  }
  &_l {
    margin: 0 vw(10) 0;
    &::after {
      content: "";
      clear: both;
      display: table;
    }
    .slick-arrow {
      display: none;
    }
    figure {
      position: relative;
      float: left;
      width: vw(360);
      padding: 0 vw(10);
      img {
        width: 100%;
        height: auto;
      }
      figcaption {
        font-size: vw(32);
        color: #fff;
        line-height: 1;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        span {
          display: block;
          font-size: vw(28);
          margin-top: 15px;
          font-weight: normal;
        }
      }
    }
  }
}

.st_contact {
  padding: vw(100) 0;
  background: url(../images/bkg_contact.jpg) center center no-repeat;
  background-size: cover;
  .ttl_st {
    margin-bottom: vw(40);
  }
  &_bx {
    article {
      background-color: #fff;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: vw(35) 0;
      height: vw(280);
      &:nth-of-type(1) {
        margin-bottom: vw(40);
        h3 {
          position: relative;
          padding-bottom: 10px;
          &:after {
            content: "";
            width: 140px;
            height: 1px;
            background-color: #008842;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      h3 {
        font-size: vw(30);
        line-height: 1.5;
        color: #008842;
        font-weight: bold;
      }
      p {
        font-size: vw(60);
        line-height: 1;
        letter-spacing: vw(3);
        color: #008842;
        font-weight: bold;
        font-family: "Proxima Nova", sans-serif;
        margin: vw(30) 0;
        .tel {
          color: #008842;
        }
      }
      em {
        font-size: vw(28);
        color: #008842;
        font-style: normal;
        font-weight: bold;
      }
      .link_contact {
        font-size: vw(28);
        line-height: 1;
        font-weight: bold;
        color: #fff;
        width: vw(500);
        height: vw(80);
        border: 1px solid #008842;
        border-radius: 5px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #008842;
        transform: perspective(1px) translateZ(0);
        transition-property: color;
        transition-duration: 0.3s;
        margin: vw(30) auto 0;
        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #fff;
          transform: scaleX(0);
          transform-origin: 0 50%;
          transition-property: transform;
          transition-duration: 0.3s;
          border-radius: 5px;
          transition-timing-function: ease-out;
        }
        &:after {
          content: "";
          background: url(../images/a.png) no-repeat;
          background-size: contain;
          width: vw(33);
          height: vw(6);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: vw(63);
        }
      }
    }
  }
}