@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.banner {
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
  p {
    font-size: rem(45);
    line-height: 104px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 185px;
    color: #fff;
    font-weight: bold;
    em {
      font-style: normal;
      &.active {
        strong {
          span {
            opacity: 1;
            transform: translate3d(0, 0, 0);
          }
        }
      }
      &:nth-of-type(3) {
        .txt_mincho {
          span {
            &:nth-of-type(1) {
              color: #008842;
            }
            &:nth-of-type(4) {
              color: #8ec54a;
            }
          }
        }
      }
    }
    strong {
      letter-spacing: 5px;
      span {
        display: inline-block;
        opacity: 0;
        transform: translate3d(50px, 0, 0);
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease;
      }
      &.txt_mincho {
        font-family: $mincho;
      }
    }
  }
}

.ttl_st {
  text-align: center;
  font-size: rem(34);
  color: #008842;
  line-height: 1;
  font-family: $mincho;
  font-weight: normal;
  position: relative;
  span {
    font-size: rem(22);
    color: #008842;
    display: block;
    line-height: 1;
    margin-top: 15px;
  }
}

.st_service {
  padding: 83px 0 142px;
  background: url(../images/bkg_service.png) no-repeat;
  background-size: cover;
  .ttl_st {
    margin-bottom: 86px;
    &:before {
      content: "";
      background: url(../images/icon_service.png) no-repeat;
      width: 53px;
      height: 48px;
      position: absolute;
      top: -63px;
      left: 50%;
      transform: translateX(-50%);
    }
    &:after {
      content: "Service";
      letter-spacing: 15px;
      font-size: 144px;
      line-height: 1;
      color: #8ec54a;
      font-family: $mincho;
      position: absolute;
      top: -47px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 9;
      opacity: 0.15;
    }
  }
  &_t {
    display: flex;
    position: relative;
    z-index: 1;
    transform: translateZ(0);
    &:before {
      content: "";
      background: url(../images/bf_top_sv.png) no-repeat;
      width: 416px;
      height: 395px;
      position: absolute;
      top: -75px;
      left: -416px;
      z-index: -1;
    }
    &:after {
      content: "";
      background: url(../images/af_top_sv.png) no-repeat;
      width: 530px;
      height: 564px;
      position: absolute;
      top: 100px;
      right: -413px;
      z-index: -1;
    }
    figure {
      width: 472px;
      img {
        width: 100%;
      }
    }
    &_l {
      width: calc(100% - 472px);
      padding-left: 43px;
      figure {
        width: 100%;
        margin-bottom: 30px;
      }
      h3 {
        font-family: $mincho;
        font-size: rem(34);
        font-weight: normal;
        color: #008842;
        margin-bottom: 35px;
      }
      p {
        font-size: rem(14);
        line-height: 32px;
      }
    }
  }
  &_list {
    padding: 200px 0 0 0;
    &_gr {
      margin-left: -3px;
      display: flex;
      article {
        width: calc(33.33% - 3px);
        margin-left: 3px;
        &:nth-of-type(1) {
          background-color: #13ad66;
        }
        &:nth-of-type(2) {
          background-color: #eab210;
        }
        &:nth-of-type(3) {
          background-color: #0286c0;
        }
        a {
          height: 100%;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          &:hover {
            opacity: 0.8;
            figure {
              img {
                transform: scale(1.1);
              }
            }
            .bottom_art {
              span {
                &:after {
                  right: -13px;
                }
              }
            }
          }
        }
        figure {
          overflow: hidden;
          img {
            transition: all 0.5s ease;
          }
        }
        h3 {
          font-size: rem(55);
          color: #fff;
          line-height: 1;
          margin: 40px 0 35px;
          font-family: $mincho;
          font-weight: normal;
          text-align: center;
        }
        em {
          font-size: rem(15);
          color: #fff;
          line-height: 28px;
          padding: 0 32px;
          display: block;
          font-style: normal;
        }
        .bottom_art {
          margin-top: 10px;
          padding-bottom: 27px;
          span {
            font-size: rem(16);
            font-weight: bold;
            color: #fff;
            line-height: 1;
            display: block;
            text-align: right;
            position: relative;
            margin-right: 32px;
            padding-right: 50px;
            &:after {
              content: "";
              background: url(../images/a.png) no-repeat;
              width: 33px;
              height: 6px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 0;
              transition: right 0.25s ease-out;
            }
          }
        }
      }
    }
  }
}

.st_concept {
  padding: 150px 0 160px;
  .ttl_st {
    margin-bottom: 140px;
    &:before {
      content: "";
      background: url(../images/icon_concept.png) no-repeat;
      background-size: contain;
      width: 49px;
      height: 49px;
      position: absolute;
      top: -63px;
      left: 50%;
      transform: translateX(-50%);
    }
    &:after {
      content: "Corporate";
      letter-spacing: 15px;
      font-size: 144px;
      line-height: 1;
      color: #8ec54a;
      font-family: $mincho;
      position: absolute;
      top: -47px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 9;
      opacity: 0.15;
    }
  }
  &_l {
    margin: 0 0 0 -20px;
    display: flex;
    figure {
      position: relative;
      width: calc(25% - 20px);
      margin-left: 20px;
      a {
        display: block;
        transition: all .3s ease-out;
        overflow: hidden;
        &:before,
        &:after {
          position: absolute;
          top: percentage(20/315);
          right: percentage(20/315);
          bottom: percentage(20/315);
          left: percentage(20/315);
          z-index: 3;
          content: "";
          opacity: 0;
          -webkit-transition: .3s ease-in-out;
          -o-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
        }
        &:before {
          border-top: 1px solid #fff;
          border-bottom: 1px solid #fff;
          transform: scale(0, 1);
        }
        &:after {
          border-right: 1px solid #fff;
          border-left: 1px solid #fff;
          transform: scale(1, 0);
        }
        &:hover {
          &:before,
          &:after {
            opacity: 1;
            transform: scale(1);
          }
          img {
            transform: scale(1.1);
          }
        }
      }
      img {
        width: 100%;
        height: auto;
        transition: .3s ease-in-out;
      }
      figcaption {
        font-size: rem(28);
        color: #fff;
        line-height: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        text-align: center;
        span {
          display: block;
          font-size: rem(16);
          margin-top: 15px;
          font-weight: normal;
        }
      }
    }
  }
}

.st_information {
  background: url(../images/bkg_infor.jpg) no-repeat;
  background-size: cover;
  padding: 104px 0 60px;
  .ttl_st {
    margin-bottom: 22px;
    &:before {
      content: "";
      background: url(../images/icon_infor.png) no-repeat;
      width: 87px;
      height: 41px;
      position: absolute;
      top: -60px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &_l {
    display: flex;
    flex-flow: row wrap;
    margin-left: -30px;
    article {
      width: calc(33.33% - 30px);
      margin: 0 0 30px 30px;
      a {
        display: block;
        &:hover {
          opacity: 0.8;
          figure {
            img {
              transform: scale(1.1);
            }
          }
        }
      }
      figure {
        position: relative;
        overflow: hidden;
        img {
          transition: all 0.5s ease;
        }
        figcaption {
          font-size: rem(14);
          line-height: 1;
          color: #fff;
          background-color: #8ec54a;
          padding: 10px;
          display: inline-block;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
      .main_art {
        display: flex;
        align-items: center;
        margin-top: 10px;
        time {
          font-size: rem(12);
          font-weight: bold;
          text-align: center;
          border-right: 1px solid #5e5e5e;
          padding-right: 13px;
          ins {
            display: block;
            font-size: rem(22);
            text-decoration: none;
          }
        }
        em {
          font-size: rem(16);
          line-height: 28px;
          font-style: normal;
          padding-left: 18px;
        }
      }
    }
  }
  .list_view {
    font-size: rem(17);
    line-height: 1;
    font-weight: bold;
    color: #008842;
    width: 245px;
    height: 65px;
    border: 1px solid #008842;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding-right: 65px;
    transform: perspective(1px) translateZ(0);
    transition-property: color;
    transition-duration: 0.3s;
    margin: 0 auto 0;
    /* &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #008842;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    } */
    &:after {
      content: "";
      background: url(../images/icon_green.png) no-repeat;
      width: 33px;
      height: 6px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 63px;
      transition: right 0.25s ease-out;
    }
    &:hover {
      /* color: #fff;
      &:before {
        transform: scaleX(1);
      } */
      &:after {
        /* background: url(../images/a.png) no-repeat; */
        right: 50px;
      }
    }
  }
}

.st_pickup {
  padding: 197px 0 132px;
  background: url(../images/bkg_pickup.png) no-repeat;
  background-size: cover;
  .ttl_st {
    margin-bottom: 117px;
    &:before {
      content: "";
      background: url(../images/icon_pickup.png) no-repeat;
      width: 40px;
      height: 48px;
      position: absolute;
      top: -63px;
      left: 50%;
      transform: translateX(-50%);
    }
    &:after {
      content: "PickUp";
      letter-spacing: 15px;
      font-size: 144px;
      line-height: 1;
      color: #8ec54a;
      font-family: $mincho;
      position: absolute;
      top: -47px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 9;
      opacity: 0.15;
    }
  }
  &_l {
    margin: 0 -10px 0;
    &::after {
      content: "";
      clear: both;
      display: table;
    }
    .slick-arrow {
      position: absolute;
      width: 12px;
      height: 22px;
      border: 0;
      box-shadow: none;
      outline: none;
      text-indent: -9999px;
      overflow: hidden;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      background: none;
      z-index: 9;
      &.slick-prev {
        background: url('../common/images/arrow-l.png') 0 0 no-repeat;
        background-size: contain;
        left: 25px;
      }
      &.slick-next {
        background: url('../common/images/arrow-r.png') 0 0 no-repeat;
        background-size: contain;
        right: 25px;
      }
    }
    figure {
      position: relative;
      float: left;
      width: 315px;
      padding: 0 10px;
      a {
        display: block;
        transition: all .3s ease-out;
        overflow: hidden;
        &:before,
        &:after {
          position: absolute;
          top: percentage(20/315);
          right: percentage(20/315);
          bottom: percentage(20/315);
          left: percentage(20/315);
          z-index: 3;
          content: "";
          opacity: 0;
          -webkit-transition: .3s ease-in-out;
          -o-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
        }
        &:before {
          border-top: 1px solid #fff;
          border-bottom: 1px solid #fff;
          transform: scale(0, 1);
        }
        &:after {
          border-right: 1px solid #fff;
          border-left: 1px solid #fff;
          transform: scale(1, 0);
        }
        &:hover {
          &:before,
          &:after {
            opacity: 1;
            transform: scale(1);
          }
          img {
            transform: scale(1.1);
          }
        }
      }
      img {
        width: 100%;
        height: auto;
        transition: .3s ease-in-out;
      }
      figcaption {
        font-size: rem(28);
        color: #fff;
        line-height: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        text-align: center;
        span {
          display: block;
          font-size: rem(16);
          margin-top: 15px;
          font-weight: normal;
        }
      }
    }
  }
}

.st_contact {
  padding: 83px 0 96px;
  background: url(../images/bkg_contact.jpg) no-repeat;
  background-size: cover;
  .ttl_st {
    margin-bottom: 39px;
  }
  &_bx {
    display: flex;
    align-items: center;
    article {
      width: calc(50% - 20px);
      margin-left: 20px;
      background-color: #fff;
      text-align: center;
      padding: 46px 0 35px;
      height: 203px;
      &:nth-of-type(1) {
        h3 {
          position: relative;
          padding-bottom: 10px;
          &:after {
            content: "";
            width: 140px;
            height: 1px;
            background-color: #008842;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      h3 {
        font-size: rem(18);
        line-height: 28px;
        color: #008842;
        font-weight: bold;
      }
      p {
        font-size: rem(45);
        line-height: 1;
        color: #008842;
        font-weight: bold;
        font-family: "Proxima Nova", sans-serif;
        margin: 15px 0 7px;
        .tel {
          pointer-events: none;
          color: #008842;
        }
      }
      em {
        font-size: rem(14);
        color: #008842;
        font-style: normal;
        font-weight: bold;
      }
      .link_contact {
        font-size: rem(17);
        line-height: 1;
        font-weight: bold;
        color: #fff;
        width: 245px;
        height: 63px;
        border: 1px solid #008842;
        border-radius: 5px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #008842;
        padding-right: 65px;
        transform: perspective(1px) translateZ(0);
        transition-property: color;
        transition-duration: 0.3s;
        margin: 31px auto 0;
        /* &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #fff;
          transform: scaleX(0);
          transform-origin: 0 50%;
          transition-property: transform;
          transition-duration: 0.3s;
          border-radius: 5px;
          transition-timing-function: ease-out;
        } */
        &:after {
          content: "";
          background: url(../images/a.png) no-repeat;
          width: 33px;
          height: 6px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 63px;
          transition: right 0.25s ease-out;
        }
        &:hover {
          /* color: #008842;
          &:before {
            transform: scaleX(1);
          } */
          &:after {
            right: 50px;
          }
        }
      }
    }
  }
}