@import "../common/css/_mixin/mixin";
@media only screen and (min-width: 769px) {
  .st_information_l {
    ul {
      width: 100%;
      li {
        padding: 20px 0;
        width: 100%;
        &:not(:last-child) {
          border-bottom: 1px solid #ccc;
        }
        a {
          display: flex;
          width: 100%;
          align-items: center;
          time {
            font-size: 1.6rem;
            line-height: 1;
            width: 100px;
            display: inline-flex;
            margin-right: 20px;
          }
          span {
            display: inline-flex;
            background: #ccc;
            color: #000;
            justify-content: center;
            align-items: center;
            width: 100px;
            padding: 5px 0;
            margin-right: 30px;
          }
          em {
            width: calc(100% - 250px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-style: normal;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .st_information_l {
    ul {
      width: 100%;
      padding: 0 vw(25);
      li {
        padding: vw(20) 0;
        width: 100%;
        &:not(:last-child) {
          border-bottom: 1px solid #ccc;
        }
        a {
          display: flex;
          width: 100%;
          align-items: center;
          flex-flow: row wrap;
          font-size: vw(32);
          line-height: 1;
          time {
            width: vw(250);
            display: inline-flex;
            margin-right: vw(20);
          }
          span {
            display: inline-flex;
            background: #ccc;
            color: #000;
            justify-content: center;
            align-items: center;
            width: vw(250);
            padding: vw(10) 0;
          }
          em {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-style: normal;
            margin-top: vw(20);
          }
        }
      }
    }
  }
}