@-webkit-keyframes fuwafuwa {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-moz-keyframes fuwafuwa {
  0% {
    -moz-transform: translate(0, 0);
         transform: translate(0, 0);
  }
  50% {
    -moz-transform: translate(0, -10px);
         transform: translate(0, -10px);
  }
  100% {
    -moz-transform: translate(0, 0);
         transform: translate(0, 0);
  }
}

@keyframes fuwafuwa {
  0% {
    -webkit-transform: translate(0, 0);
       -moz-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -10px);
       -moz-transform: translate(0, -10px);
            transform: translate(0, -10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
       -moz-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 20px;
  height: 20px;
  -moz-border-radius: 50%;
       border-radius: 50%;
  -moz-box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
       box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -49px 49.33333px #15ff00, 82px -94.66667px #ff0073, -135px -75.66667px #ffd900, -122px -154.66667px #00c4ff, -143px -95.66667px #ff6f00, 177px -328.66667px #00ddff, 45px -138.66667px #5900ff, -172px -194.66667px #1aff00, 134px 77.33333px #62ff00, -47px -11.66667px #bf00ff, -150px -405.66667px #ff0009, 7px -275.66667px #00ff1a, -11px -275.66667px #0044ff, -122px 55.33333px #3cff00, 163px -14.66667px #ffbb00, -169px -25.66667px #00d0ff, 133px 4.33333px #00ff95, 128px -173.66667px #ff005e, -208px -393.66667px #00fff7, -231px -173.66667px #91ff00, -249px -39.66667px #11ff00, -112px 19.33333px #ff000d, -126px -6.66667px #ff0033, -48px -3.66667px #00ff09, 222px -230.66667px #4dff00, 189px -270.66667px #001eff, 17px -328.66667px #9500ff, 210px -262.66667px #91ff00, 49px -95.66667px #bb00ff, -208px 51.33333px #aeff00, -154px -242.66667px #ff4400, -86px -208.66667px #001aff, -31px -386.66667px #2b00ff, -69px -213.66667px #ff00aa, -26px -169.66667px #00ff7b, 21px -29.66667px #ff001a, 140px -169.66667px #ff00aa, 110px -42.66667px #ae00ff, -170px -149.66667px #00bbff, -107px -389.66667px #ff0084, 105px -104.66667px #8000ff, -88px 69.33333px #22ff00, 139px -304.66667px #fffb00, -68px -54.66667px #1500ff, -166px -113.66667px #ff009d, -72px -271.66667px #ff2b00, 225px 27.33333px #d0ff00, -107px -108.66667px #ff009d, 233px -185.66667px #1500ff, 0px -272.66667px #00ffc8, -42px -278.66667px #00ff2f;
  }
}

@-moz-keyframes bang {
  to {
    -moz-box-shadow: -49px 49.33333px #15ff00, 82px -94.66667px #ff0073, -135px -75.66667px #ffd900, -122px -154.66667px #00c4ff, -143px -95.66667px #ff6f00, 177px -328.66667px #00ddff, 45px -138.66667px #5900ff, -172px -194.66667px #1aff00, 134px 77.33333px #62ff00, -47px -11.66667px #bf00ff, -150px -405.66667px #ff0009, 7px -275.66667px #00ff1a, -11px -275.66667px #0044ff, -122px 55.33333px #3cff00, 163px -14.66667px #ffbb00, -169px -25.66667px #00d0ff, 133px 4.33333px #00ff95, 128px -173.66667px #ff005e, -208px -393.66667px #00fff7, -231px -173.66667px #91ff00, -249px -39.66667px #11ff00, -112px 19.33333px #ff000d, -126px -6.66667px #ff0033, -48px -3.66667px #00ff09, 222px -230.66667px #4dff00, 189px -270.66667px #001eff, 17px -328.66667px #9500ff, 210px -262.66667px #91ff00, 49px -95.66667px #bb00ff, -208px 51.33333px #aeff00, -154px -242.66667px #ff4400, -86px -208.66667px #001aff, -31px -386.66667px #2b00ff, -69px -213.66667px #ff00aa, -26px -169.66667px #00ff7b, 21px -29.66667px #ff001a, 140px -169.66667px #ff00aa, 110px -42.66667px #ae00ff, -170px -149.66667px #00bbff, -107px -389.66667px #ff0084, 105px -104.66667px #8000ff, -88px 69.33333px #22ff00, 139px -304.66667px #fffb00, -68px -54.66667px #1500ff, -166px -113.66667px #ff009d, -72px -271.66667px #ff2b00, 225px 27.33333px #d0ff00, -107px -108.66667px #ff009d, 233px -185.66667px #1500ff, 0px -272.66667px #00ffc8, -42px -278.66667px #00ff2f;
         box-shadow: -49px 49.33333px #15ff00, 82px -94.66667px #ff0073, -135px -75.66667px #ffd900, -122px -154.66667px #00c4ff, -143px -95.66667px #ff6f00, 177px -328.66667px #00ddff, 45px -138.66667px #5900ff, -172px -194.66667px #1aff00, 134px 77.33333px #62ff00, -47px -11.66667px #bf00ff, -150px -405.66667px #ff0009, 7px -275.66667px #00ff1a, -11px -275.66667px #0044ff, -122px 55.33333px #3cff00, 163px -14.66667px #ffbb00, -169px -25.66667px #00d0ff, 133px 4.33333px #00ff95, 128px -173.66667px #ff005e, -208px -393.66667px #00fff7, -231px -173.66667px #91ff00, -249px -39.66667px #11ff00, -112px 19.33333px #ff000d, -126px -6.66667px #ff0033, -48px -3.66667px #00ff09, 222px -230.66667px #4dff00, 189px -270.66667px #001eff, 17px -328.66667px #9500ff, 210px -262.66667px #91ff00, 49px -95.66667px #bb00ff, -208px 51.33333px #aeff00, -154px -242.66667px #ff4400, -86px -208.66667px #001aff, -31px -386.66667px #2b00ff, -69px -213.66667px #ff00aa, -26px -169.66667px #00ff7b, 21px -29.66667px #ff001a, 140px -169.66667px #ff00aa, 110px -42.66667px #ae00ff, -170px -149.66667px #00bbff, -107px -389.66667px #ff0084, 105px -104.66667px #8000ff, -88px 69.33333px #22ff00, 139px -304.66667px #fffb00, -68px -54.66667px #1500ff, -166px -113.66667px #ff009d, -72px -271.66667px #ff2b00, 225px 27.33333px #d0ff00, -107px -108.66667px #ff009d, 233px -185.66667px #1500ff, 0px -272.66667px #00ffc8, -42px -278.66667px #00ff2f;
  }
}

@keyframes bang {
  to {
    -moz-box-shadow: -49px 49.33333px #15ff00, 82px -94.66667px #ff0073, -135px -75.66667px #ffd900, -122px -154.66667px #00c4ff, -143px -95.66667px #ff6f00, 177px -328.66667px #00ddff, 45px -138.66667px #5900ff, -172px -194.66667px #1aff00, 134px 77.33333px #62ff00, -47px -11.66667px #bf00ff, -150px -405.66667px #ff0009, 7px -275.66667px #00ff1a, -11px -275.66667px #0044ff, -122px 55.33333px #3cff00, 163px -14.66667px #ffbb00, -169px -25.66667px #00d0ff, 133px 4.33333px #00ff95, 128px -173.66667px #ff005e, -208px -393.66667px #00fff7, -231px -173.66667px #91ff00, -249px -39.66667px #11ff00, -112px 19.33333px #ff000d, -126px -6.66667px #ff0033, -48px -3.66667px #00ff09, 222px -230.66667px #4dff00, 189px -270.66667px #001eff, 17px -328.66667px #9500ff, 210px -262.66667px #91ff00, 49px -95.66667px #bb00ff, -208px 51.33333px #aeff00, -154px -242.66667px #ff4400, -86px -208.66667px #001aff, -31px -386.66667px #2b00ff, -69px -213.66667px #ff00aa, -26px -169.66667px #00ff7b, 21px -29.66667px #ff001a, 140px -169.66667px #ff00aa, 110px -42.66667px #ae00ff, -170px -149.66667px #00bbff, -107px -389.66667px #ff0084, 105px -104.66667px #8000ff, -88px 69.33333px #22ff00, 139px -304.66667px #fffb00, -68px -54.66667px #1500ff, -166px -113.66667px #ff009d, -72px -271.66667px #ff2b00, 225px 27.33333px #d0ff00, -107px -108.66667px #ff009d, 233px -185.66667px #1500ff, 0px -272.66667px #00ffc8, -42px -278.66667px #00ff2f;
         box-shadow: -49px 49.33333px #15ff00, 82px -94.66667px #ff0073, -135px -75.66667px #ffd900, -122px -154.66667px #00c4ff, -143px -95.66667px #ff6f00, 177px -328.66667px #00ddff, 45px -138.66667px #5900ff, -172px -194.66667px #1aff00, 134px 77.33333px #62ff00, -47px -11.66667px #bf00ff, -150px -405.66667px #ff0009, 7px -275.66667px #00ff1a, -11px -275.66667px #0044ff, -122px 55.33333px #3cff00, 163px -14.66667px #ffbb00, -169px -25.66667px #00d0ff, 133px 4.33333px #00ff95, 128px -173.66667px #ff005e, -208px -393.66667px #00fff7, -231px -173.66667px #91ff00, -249px -39.66667px #11ff00, -112px 19.33333px #ff000d, -126px -6.66667px #ff0033, -48px -3.66667px #00ff09, 222px -230.66667px #4dff00, 189px -270.66667px #001eff, 17px -328.66667px #9500ff, 210px -262.66667px #91ff00, 49px -95.66667px #bb00ff, -208px 51.33333px #aeff00, -154px -242.66667px #ff4400, -86px -208.66667px #001aff, -31px -386.66667px #2b00ff, -69px -213.66667px #ff00aa, -26px -169.66667px #00ff7b, 21px -29.66667px #ff001a, 140px -169.66667px #ff00aa, 110px -42.66667px #ae00ff, -170px -149.66667px #00bbff, -107px -389.66667px #ff0084, 105px -104.66667px #8000ff, -88px 69.33333px #22ff00, 139px -304.66667px #fffb00, -68px -54.66667px #1500ff, -166px -113.66667px #ff009d, -72px -271.66667px #ff2b00, 225px 27.33333px #d0ff00, -107px -108.66667px #ff009d, 233px -185.66667px #1500ff, 0px -272.66667px #00ffc8, -42px -278.66667px #00ff2f;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@-moz-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
         transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
         transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

span.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #fff;
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out, z-index 0s ease-in-out 1s;
  -moz-transition: opacity 1s ease-in-out, z-index 0s ease-in-out 1s;
  transition: opacity 1s ease-in-out, z-index 0s ease-in-out 1s;
  overflow: hidden;
}

span.active::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.46);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
   -ms-transform: scaleX(0);
       transform: scaleX(0);
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
   -ms-transform-origin: 50%;
       transform-origin: 50%;
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  -moz-transition: transform, -moz-transform;
  transition: transform;
  transition: transform, -webkit-transform, -moz-transform;
  transition: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
       transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
       transition-timing-function: ease-out;
}

span.active.end {
  opacity: 0;
  z-index: -1;
}

span.active.end::before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
   -ms-transform: scaleX(1);
       transform: scaleX(1);
}

span.active i {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 10rem;
  height: 10rem;
  margin: -5rem 0 0 -5rem;
  -moz-border-radius: 50%;
       border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
       animation: spin 2s linear infinite;
}

span.active i::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  -moz-border-radius: 50%;
       border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
       animation: spin 3s linear infinite;
}

span.active i::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  -moz-border-radius: 50%;
       border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  -moz-animation: spin 1.5s linear infinite;
       animation: spin 1.5s linear infinite;
}

@media screen and (min-width: 769px), print {
  .banner {
    position: relative;
  }
  .banner img {
    width: 100%;
    height: auto;
  }
  .banner p {
    font-size: 4.5rem;
    line-height: 104px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 185px;
    color: #fff;
    font-weight: bold;
  }
  .banner p em {
    font-style: normal;
  }
  .banner p em.active strong span {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .banner p em:nth-of-type(3) .txt_mincho span:nth-of-type(1) {
    color: #008842;
  }
  .banner p em:nth-of-type(3) .txt_mincho span:nth-of-type(4) {
    color: #8ec54a;
  }
  .banner p strong {
    letter-spacing: 5px;
  }
  .banner p strong span {
    display: inline-block;
    opacity: 0;
    -webkit-transform: translate3d(50px, 0, 0);
       -moz-transform: translate3d(50px, 0, 0);
            transform: translate3d(50px, 0, 0);
    -webkit-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
            transition-timing-function: ease;
  }
  .banner p strong.txt_mincho {
    font-family: "YuMincho", serif;
  }
  .ttl_st {
    text-align: center;
    font-size: 3.4rem;
    color: #008842;
    line-height: 1;
    font-family: "YuMincho", serif;
    font-weight: normal;
    position: relative;
  }
  .ttl_st span {
    font-size: 2.2rem;
    color: #008842;
    display: block;
    line-height: 1;
    margin-top: 15px;
  }
  .st_service {
    padding: 83px 0 142px;
    background: url(../images/bkg_service.png) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .st_service .ttl_st {
    margin-bottom: 86px;
  }
  .st_service .ttl_st:before {
    content: "";
    background: url(../images/icon_service.png) no-repeat;
    width: 53px;
    height: 48px;
    position: absolute;
    top: -63px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .st_service .ttl_st:after {
    content: "Service";
    letter-spacing: 15px;
    font-size: 144px;
    line-height: 1;
    color: #8ec54a;
    font-family: "YuMincho", serif;
    position: absolute;
    top: -47px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 9;
    opacity: 0.15;
  }
  .st_service_t {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 1;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
  .st_service_t:before {
    content: "";
    background: url(../images/bf_top_sv.png) no-repeat;
    width: 416px;
    height: 395px;
    position: absolute;
    top: -75px;
    left: -416px;
    z-index: -1;
  }
  .st_service_t:after {
    content: "";
    background: url(../images/af_top_sv.png) no-repeat;
    width: 530px;
    height: 564px;
    position: absolute;
    top: 100px;
    right: -413px;
    z-index: -1;
  }
  .st_service_t figure {
    width: 472px;
  }
  .st_service_t figure img {
    width: 100%;
  }
  .st_service_t_l {
    width: -webkit-calc(100% - 472px);
    width: -moz-calc(100% - 472px);
    width: calc(100% - 472px);
    padding-left: 43px;
  }
  .st_service_t_l figure {
    width: 100%;
    margin-bottom: 30px;
  }
  .st_service_t_l h3 {
    font-family: "YuMincho", serif;
    font-size: 3.4rem;
    font-weight: normal;
    color: #008842;
    margin-bottom: 35px;
  }
  .st_service_t_l p {
    font-size: 1.4rem;
    line-height: 32px;
  }
  .st_service_list {
    padding: 200px 0 0 0;
  }
  .st_service_list_gr {
    margin-left: -3px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .st_service_list_gr article {
    width: -webkit-calc(33.33% - 3px);
    width: -moz-calc(33.33% - 3px);
    width: calc(33.33% - 3px);
    margin-left: 3px;
  }
  .st_service_list_gr article:nth-of-type(1) {
    background-color: #13ad66;
  }
  .st_service_list_gr article:nth-of-type(2) {
    background-color: #eab210;
  }
  .st_service_list_gr article:nth-of-type(3) {
    background-color: #0286c0;
  }
  .st_service_list_gr article a {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .st_service_list_gr article a:hover {
    opacity: 0.8;
  }
  .st_service_list_gr article a:hover figure img {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  .st_service_list_gr article a:hover .bottom_art span:after {
    right: -13px;
  }
  .st_service_list_gr article figure {
    overflow: hidden;
  }
  .st_service_list_gr article figure img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .st_service_list_gr article h3 {
    font-size: 5.5rem;
    color: #fff;
    line-height: 1;
    margin: 40px 0 35px;
    font-family: "YuMincho", serif;
    font-weight: normal;
    text-align: center;
  }
  .st_service_list_gr article em {
    font-size: 1.5rem;
    color: #fff;
    line-height: 28px;
    padding: 0 32px;
    display: block;
    font-style: normal;
  }
  .st_service_list_gr article .bottom_art {
    margin-top: 10px;
    padding-bottom: 27px;
  }
  .st_service_list_gr article .bottom_art span {
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    display: block;
    text-align: right;
    position: relative;
    margin-right: 32px;
    padding-right: 50px;
  }
  .st_service_list_gr article .bottom_art span:after {
    content: "";
    background: url(../images/a.png) no-repeat;
    width: 33px;
    height: 6px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
    -webkit-transition: right 0.25s ease-out;
    -moz-transition: right 0.25s ease-out;
    transition: right 0.25s ease-out;
  }
  .st_concept {
    padding: 150px 0 160px;
  }
  .st_concept .ttl_st {
    margin-bottom: 140px;
  }
  .st_concept .ttl_st:before {
    content: "";
    background: url(../images/icon_concept.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 49px;
    height: 49px;
    position: absolute;
    top: -63px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .st_concept .ttl_st:after {
    content: "Corporate";
    letter-spacing: 15px;
    font-size: 144px;
    line-height: 1;
    color: #8ec54a;
    font-family: "YuMincho", serif;
    position: absolute;
    top: -47px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 9;
    opacity: 0.15;
  }
  .st_concept_l {
    margin: 0 0 0 -20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .st_concept_l figure {
    position: relative;
    width: -webkit-calc(25% - 20px);
    width: -moz-calc(25% - 20px);
    width: calc(25% - 20px);
    margin-left: 20px;
  }
  .st_concept_l figure a {
    display: block;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
    overflow: hidden;
  }
  .st_concept_l figure a:before, .st_concept_l figure a:after {
    position: absolute;
    top: 6.34921%;
    right: 6.34921%;
    bottom: 6.34921%;
    left: 6.34921%;
    z-index: 3;
    content: "";
    opacity: 0;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .st_concept_l figure a:before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0, 1);
       -moz-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  .st_concept_l figure a:after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1, 0);
       -moz-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  .st_concept_l figure a:hover:before, .st_concept_l figure a:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
  .st_concept_l figure a:hover img {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  .st_concept_l figure img {
    width: 100%;
    height: auto;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .st_concept_l figure figcaption {
    font-size: 2.8rem;
    color: #fff;
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
  }
  .st_concept_l figure figcaption span {
    display: block;
    font-size: 1.6rem;
    margin-top: 15px;
    font-weight: normal;
  }
  .st_information {
    background: url(../images/bkg_infor.jpg) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    padding: 104px 0 60px;
  }
  .st_information .ttl_st {
    margin-bottom: 22px;
  }
  .st_information .ttl_st:before {
    content: "";
    background: url(../images/icon_infor.png) no-repeat;
    width: 87px;
    height: 41px;
    position: absolute;
    top: -60px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .st_information_l {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-left: -30px;
  }
  .st_information_l article {
    width: -webkit-calc(33.33% - 30px);
    width: -moz-calc(33.33% - 30px);
    width: calc(33.33% - 30px);
    margin: 0 0 30px 30px;
  }
  .st_information_l article a {
    display: block;
  }
  .st_information_l article a:hover {
    opacity: 0.8;
  }
  .st_information_l article a:hover figure img {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  .st_information_l article figure {
    position: relative;
    overflow: hidden;
  }
  .st_information_l article figure img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .st_information_l article figure figcaption {
    font-size: 1.4rem;
    line-height: 1;
    color: #fff;
    background-color: #8ec54a;
    padding: 10px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .st_information_l article .main_art {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
  }
  .st_information_l article .main_art time {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border-right: 1px solid #5e5e5e;
    padding-right: 13px;
  }
  .st_information_l article .main_art time ins {
    display: block;
    font-size: 2.2rem;
    text-decoration: none;
  }
  .st_information_l article .main_art em {
    font-size: 1.6rem;
    line-height: 28px;
    font-style: normal;
    padding-left: 18px;
  }
  .st_information .list_view {
    font-size: 1.7rem;
    line-height: 1;
    font-weight: bold;
    color: #008842;
    width: 245px;
    height: 65px;
    border: 1px solid #008842;
    -moz-border-radius: 5px;
         border-radius: 5px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    padding-right: 65px;
    -webkit-transform: perspective(1px) translateZ(0);
       -moz-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    -moz-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    margin: 0 auto 0;
    /* &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #008842;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    } */
  }
  .st_information .list_view:after {
    content: "";
    background: url(../images/icon_green.png) no-repeat;
    width: 33px;
    height: 6px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 63px;
    -webkit-transition: right 0.25s ease-out;
    -moz-transition: right 0.25s ease-out;
    transition: right 0.25s ease-out;
  }
  .st_information .list_view:hover {
    /* color: #fff;
      &:before {
        transform: scaleX(1);
      } */
  }
  .st_information .list_view:hover:after {
    /* background: url(../images/a.png) no-repeat; */
    right: 50px;
  }
  .st_pickup {
    padding: 197px 0 132px;
    background: url(../images/bkg_pickup.png) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .st_pickup .ttl_st {
    margin-bottom: 117px;
  }
  .st_pickup .ttl_st:before {
    content: "";
    background: url(../images/icon_pickup.png) no-repeat;
    width: 40px;
    height: 48px;
    position: absolute;
    top: -63px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .st_pickup .ttl_st:after {
    content: "PickUp";
    letter-spacing: 15px;
    font-size: 144px;
    line-height: 1;
    color: #8ec54a;
    font-family: "YuMincho", serif;
    position: absolute;
    top: -47px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 9;
    opacity: 0.15;
  }
  .st_pickup_l {
    margin: 0 -10px 0;
  }
  .st_pickup_l::after {
    content: "";
    clear: both;
    display: table;
  }
  .st_pickup_l .slick-arrow {
    position: absolute;
    width: 12px;
    height: 22px;
    border: 0;
    -moz-box-shadow: none;
         box-shadow: none;
    outline: none;
    text-indent: -9999px;
    overflow: hidden;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer;
    background: none;
    z-index: 9;
  }
  .st_pickup_l .slick-arrow.slick-prev {
    background: url("../common/images/arrow-l.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    left: 25px;
  }
  .st_pickup_l .slick-arrow.slick-next {
    background: url("../common/images/arrow-r.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    right: 25px;
  }
  .st_pickup_l figure {
    position: relative;
    float: left;
    width: 315px;
    padding: 0 10px;
  }
  .st_pickup_l figure a {
    display: block;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
    overflow: hidden;
  }
  .st_pickup_l figure a:before, .st_pickup_l figure a:after {
    position: absolute;
    top: 6.34921%;
    right: 6.34921%;
    bottom: 6.34921%;
    left: 6.34921%;
    z-index: 3;
    content: "";
    opacity: 0;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .st_pickup_l figure a:before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0, 1);
       -moz-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  .st_pickup_l figure a:after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1, 0);
       -moz-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  .st_pickup_l figure a:hover:before, .st_pickup_l figure a:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
  .st_pickup_l figure a:hover img {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  .st_pickup_l figure img {
    width: 100%;
    height: auto;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .st_pickup_l figure figcaption {
    font-size: 2.8rem;
    color: #fff;
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
  }
  .st_pickup_l figure figcaption span {
    display: block;
    font-size: 1.6rem;
    margin-top: 15px;
    font-weight: normal;
  }
  .st_contact {
    padding: 83px 0 96px;
    background: url(../images/bkg_contact.jpg) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .st_contact .ttl_st {
    margin-bottom: 39px;
  }
  .st_contact_bx {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .st_contact_bx article {
    width: -webkit-calc(50% - 20px);
    width: -moz-calc(50% - 20px);
    width: calc(50% - 20px);
    margin-left: 20px;
    background-color: #fff;
    text-align: center;
    padding: 46px 0 35px;
    height: 203px;
  }
  .st_contact_bx article:nth-of-type(1) h3 {
    position: relative;
    padding-bottom: 10px;
  }
  .st_contact_bx article:nth-of-type(1) h3:after {
    content: "";
    width: 140px;
    height: 1px;
    background-color: #008842;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .st_contact_bx article h3 {
    font-size: 1.8rem;
    line-height: 28px;
    color: #008842;
    font-weight: bold;
  }
  .st_contact_bx article p {
    font-size: 4.5rem;
    line-height: 1;
    color: #008842;
    font-weight: bold;
    font-family: "Proxima Nova", sans-serif;
    margin: 15px 0 7px;
  }
  .st_contact_bx article p .tel {
    pointer-events: none;
    color: #008842;
  }
  .st_contact_bx article em {
    font-size: 1.4rem;
    color: #008842;
    font-style: normal;
    font-weight: bold;
  }
  .st_contact_bx article .link_contact {
    font-size: 1.7rem;
    line-height: 1;
    font-weight: bold;
    color: #fff;
    width: 245px;
    height: 63px;
    border: 1px solid #008842;
    -moz-border-radius: 5px;
         border-radius: 5px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #008842;
    padding-right: 65px;
    -webkit-transform: perspective(1px) translateZ(0);
       -moz-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    -moz-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    margin: 31px auto 0;
    /* &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #fff;
          transform: scaleX(0);
          transform-origin: 0 50%;
          transition-property: transform;
          transition-duration: 0.3s;
          border-radius: 5px;
          transition-timing-function: ease-out;
        } */
  }
  .st_contact_bx article .link_contact:after {
    content: "";
    background: url(../images/a.png) no-repeat;
    width: 33px;
    height: 6px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 63px;
    -webkit-transition: right 0.25s ease-out;
    -moz-transition: right 0.25s ease-out;
    transition: right 0.25s ease-out;
  }
  .st_contact_bx article .link_contact:hover {
    /* color: #008842;
          &:before {
            transform: scaleX(1);
          } */
  }
  .st_contact_bx article .link_contact:hover:after {
    right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    position: relative;
    overflow: hidden;
  }
  .banner img {
    width: 100%;
    height: auto;
  }
  .banner p {
    font-size: 5.20833vw;
    line-height: 8.46354vw;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 3.90625vw;
    color: #fff;
    font-weight: bold;
  }
  .banner p em {
    font-style: normal;
  }
  .banner p em.active strong span {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .banner p em:nth-of-type(3) .txt_mincho span:nth-of-type(1) {
    color: #008842;
  }
  .banner p em:nth-of-type(3) .txt_mincho span:nth-of-type(4) {
    color: #8ec54a;
  }
  .banner p strong {
    letter-spacing: 0.65104vw;
  }
  .banner p strong span {
    display: inline-block;
    opacity: 0;
    -webkit-transform: translate3d(50px, 0, 0);
       -moz-transform: translate3d(50px, 0, 0);
            transform: translate3d(50px, 0, 0);
    -webkit-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
            transition-timing-function: ease;
  }
  .banner p strong.txt_mincho {
    font-family: "YuMincho", serif;
  }
  .ttl_st {
    text-align: center;
    font-size: 6.51042vw;
    color: #008842;
    line-height: 1;
    font-family: "YuMincho", serif;
    font-weight: normal;
    position: relative;
  }
  .ttl_st span {
    font-size: 3.90625vw;
    color: #008842;
    display: block;
    line-height: 1;
    margin-top: 15px;
  }
  .st_service {
    padding: 7.8125vw 0 13.02083vw;
    background: url(../images/bkg_service.png) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .st_service .ttl_st {
    margin-bottom: 10.41667vw;
  }
  .st_service .ttl_st:before {
    content: "";
    background: url(../images/icon_service.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 6.90104vw;
    height: 6.25vw;
    position: absolute;
    top: -8.20313vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .st_service .ttl_st:after {
    content: "Service";
    letter-spacing: 1.95313vw;
    font-size: 20.83333vw;
    line-height: 1;
    color: #8ec54a;
    font-family: "YuMincho", serif;
    position: absolute;
    top: -6.51042vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 9;
    opacity: 0.15;
  }
  .st_service_t {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
  .st_service_t:before {
    content: "";
    background: url(../images/bf_top_sv.png) no-repeat;
    width: 54.16667vw;
    height: 51.43229vw;
    position: absolute;
    top: 19.53125vw;
    left: 0;
    z-index: -1;
  }
  .st_service_t:after {
    content: "";
    background: url(../images/af_top_sv.png) no-repeat;
    width: 69.01042vw;
    height: 73.4375vw;
    position: absolute;
    bottom: 0vw;
    right: 0;
    z-index: -1;
  }
  .st_service_t figure {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
    margin-top: 5.20833vw;
  }
  .st_service_t figure img {
    width: 51.30208vw;
    height: 47.91667vw;
  }
  .st_service_t_l {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .st_service_t_l figure {
    width: 100%;
    margin-bottom: 3.90625vw;
  }
  .st_service_t_l figure img {
    width: 100%;
    height: auto;
  }
  .st_service_t_l h3 {
    font-family: "YuMincho", serif;
    font-size: 5.85938vw;
    font-weight: normal;
    color: #008842;
    margin-bottom: 4.55729vw;
  }
  .st_service_t_l p {
    font-size: 3.64583vw;
    line-height: 5.72917vw;
  }
  .st_service_list {
    padding: 19.53125vw 0 0 0;
  }
  .st_service_list_gr article:not(:last-child) {
    margin-bottom: 3.90625vw;
  }
  .st_service_list_gr article:nth-of-type(1) {
    background-color: #13ad66;
  }
  .st_service_list_gr article:nth-of-type(2) {
    background-color: #eab210;
  }
  .st_service_list_gr article:nth-of-type(3) {
    background-color: #0286c0;
  }
  .st_service_list_gr article a {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .st_service_list_gr article figure img {
    width: 100%;
    height: auto;
  }
  .st_service_list_gr article h3 {
    font-size: 7.8125vw;
    color: #fff;
    line-height: 1.5;
    margin: 3.90625vw 0;
    font-family: "YuMincho", serif;
    font-weight: normal;
    text-align: center;
  }
  .st_service_list_gr article em {
    font-size: 3.64583vw;
    color: #fff;
    line-height: 5.72917vw;
    padding: 0 3.90625vw;
    display: block;
    font-style: normal;
  }
  .st_service_list_gr article .bottom_art {
    margin-top: 6.51042vw;
    padding-bottom: 3.90625vw;
  }
  .st_service_list_gr article .bottom_art span {
    font-size: 3.64583vw;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    display: block;
    text-align: right;
    position: relative;
    margin-right: 3.90625vw;
    padding-right: 6.51042vw;
  }
  .st_service_list_gr article .bottom_art span:after {
    content: "";
    background: url(../images/a.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 4.29688vw;
    height: 0.78125vw;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
  }
  .st_concept {
    padding: 23.4375vw 0 16.92708vw;
    background: url(../images/bkg_pickup.png) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .st_concept .ttl_st {
    margin-bottom: 15.625vw;
  }
  .st_concept .ttl_st:before {
    content: "";
    background: url(../images/icon_concept.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 7.8125vw;
    height: 7.8125vw;
    position: absolute;
    top: -10.41667vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .st_concept .ttl_st:after {
    content: "Corporate";
    letter-spacing: 1.30208vw;
    font-size: 16.92708vw;
    line-height: 1;
    color: #8ec54a;
    font-family: "YuMincho", serif;
    position: absolute;
    top: -6.51042vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 9;
    opacity: 0.15;
  }
  .st_concept_l {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-left: -2.60417vw;
  }
  .st_concept_l figure {
    position: relative;
    width: -webkit-calc(50% - 2.60417vw);
    width: -moz-calc(50% - 2.60417vw);
    width: calc(50% - 2.60417vw);
    margin: 0 0 2.60417vw 2.60417vw;
  }
  .st_concept_l figure img {
    width: 100%;
    height: auto;
  }
  .st_concept_l figure figcaption {
    font-size: 4.16667vw;
    color: #fff;
    line-height: 1;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-weight: bold;
    width: 100%;
  }
  .st_concept_l figure figcaption span {
    display: block;
    font-size: 3.64583vw;
    margin-top: 15px;
    font-weight: normal;
  }
  .st_information {
    background: url(../images/bkg_infor.jpg) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    padding: 13.02083vw 0 9.11458vw;
  }
  .st_information .ttl_st {
    margin-bottom: 5.20833vw;
  }
  .st_information .ttl_st:before {
    content: "";
    background: url(../images/icon_infor.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 11.32813vw;
    height: 5.33854vw;
    position: absolute;
    top: -7.8125vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .st_information_l {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-left: -3.90625vw;
  }
  .st_information_l article {
    width: -webkit-calc(50% - 3.90625vw);
    width: -moz-calc(50% - 3.90625vw);
    width: calc(50% - 3.90625vw);
    margin: 0 0 3.90625vw 3.90625vw;
  }
  .st_information_l article a {
    display: block;
  }
  .st_information_l article a:hover {
    opacity: 0.8;
  }
  .st_information_l article a:hover figure img {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  .st_information_l article figure {
    position: relative;
    overflow: hidden;
  }
  .st_information_l article figure img {
    width: 100%;
    height: auto;
  }
  .st_information_l article figure figcaption {
    font-size: 3.64583vw;
    line-height: 1;
    color: #fff;
    background-color: #8ec54a;
    padding: 1.30208vw;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .st_information_l article .main_art {
    margin-top: 1.30208vw;
  }
  .st_information_l article .main_art time {
    font-size: 2.60417vw;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #5e5e5e;
    padding-bottom: 1.30208vw;
  }
  .st_information_l article .main_art time ins {
    font-size: 2.60417vw;
    text-decoration: none;
    position: relative;
  }
  .st_information_l article .main_art time ins:before {
    content: ".";
    font-size: 2.60417vw;
  }
  .st_information_l article .main_art em {
    font-size: 3.90625vw;
    line-height: 5.72917vw;
    font-style: normal;
    display: block;
    margin-top: 1.95313vw;
  }
  .st_information .list_view {
    font-size: 3.64583vw;
    line-height: 1;
    font-weight: bold;
    color: #008842;
    width: 65.10417vw;
    height: 10.41667vw;
    border: 1px solid #008842;
    -moz-border-radius: 1.04167vw;
         border-radius: 1.04167vw;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    -webkit-transform: perspective(1px) translateZ(0);
       -moz-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    -moz-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    margin: 5.20833vw auto 0;
  }
  .st_information .list_view:after {
    content: "";
    background: url(../images/icon_green.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 4.29688vw;
    height: 0.78125vw;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 8.46354vw;
  }
  .st_pickup {
    padding: 23.4375vw 0 16.92708vw;
    background: url(../images/bkg_pickup.png) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .st_pickup .ttl_st {
    margin-bottom: 15.625vw;
  }
  .st_pickup .ttl_st:before {
    content: "";
    background: url(../images/icon_pickup.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 5.20833vw;
    height: 6.25vw;
    position: absolute;
    top: -8.20313vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .st_pickup .ttl_st:after {
    content: "PickUp";
    letter-spacing: 1.95313vw;
    font-size: 20.83333vw;
    line-height: 1;
    color: #8ec54a;
    font-family: "YuMincho", serif;
    position: absolute;
    top: -6.51042vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 9;
    opacity: 0.15;
  }
  .st_pickup_l {
    margin: 0 1.30208vw 0;
  }
  .st_pickup_l::after {
    content: "";
    clear: both;
    display: table;
  }
  .st_pickup_l .slick-arrow {
    display: none;
  }
  .st_pickup_l figure {
    position: relative;
    float: left;
    width: 46.875vw;
    padding: 0 1.30208vw;
  }
  .st_pickup_l figure img {
    width: 100%;
    height: auto;
  }
  .st_pickup_l figure figcaption {
    font-size: 4.16667vw;
    color: #fff;
    line-height: 1;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-weight: bold;
  }
  .st_pickup_l figure figcaption span {
    display: block;
    font-size: 3.64583vw;
    margin-top: 15px;
    font-weight: normal;
  }
  .st_contact {
    padding: 13.02083vw 0;
    background: url(../images/bkg_contact.jpg) center center no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .st_contact .ttl_st {
    margin-bottom: 5.20833vw;
  }
  .st_contact_bx article {
    background-color: #fff;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 4.55729vw 0;
    height: 36.45833vw;
  }
  .st_contact_bx article:nth-of-type(1) {
    margin-bottom: 5.20833vw;
  }
  .st_contact_bx article:nth-of-type(1) h3 {
    position: relative;
    padding-bottom: 10px;
  }
  .st_contact_bx article:nth-of-type(1) h3:after {
    content: "";
    width: 140px;
    height: 1px;
    background-color: #008842;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .st_contact_bx article h3 {
    font-size: 3.90625vw;
    line-height: 1.5;
    color: #008842;
    font-weight: bold;
  }
  .st_contact_bx article p {
    font-size: 7.8125vw;
    line-height: 1;
    letter-spacing: 0.39063vw;
    color: #008842;
    font-weight: bold;
    font-family: "Proxima Nova", sans-serif;
    margin: 3.90625vw 0;
  }
  .st_contact_bx article p .tel {
    color: #008842;
  }
  .st_contact_bx article em {
    font-size: 3.64583vw;
    color: #008842;
    font-style: normal;
    font-weight: bold;
  }
  .st_contact_bx article .link_contact {
    font-size: 3.64583vw;
    line-height: 1;
    font-weight: bold;
    color: #fff;
    width: 65.10417vw;
    height: 10.41667vw;
    border: 1px solid #008842;
    -moz-border-radius: 5px;
         border-radius: 5px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #008842;
    -webkit-transform: perspective(1px) translateZ(0);
       -moz-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    -moz-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    margin: 3.90625vw auto 0;
  }
  .st_contact_bx article .link_contact:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    -webkit-transform: scaleX(0);
       -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
       -moz-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
            transform-origin: 0 50%;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -moz-transition-property: transform, -moz-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform, -moz-transform;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -moz-border-radius: 5px;
         border-radius: 5px;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  .st_contact_bx article .link_contact:after {
    content: "";
    background: url(../images/a.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 4.29688vw;
    height: 0.78125vw;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 8.20313vw;
  }
}
@media only screen and (min-width: 769px) {
  .st_information_l ul {
    width: 100%;
  }
  .st_information_l ul li {
    padding: 20px 0;
    width: 100%;
  }
  .st_information_l ul li:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  .st_information_l ul li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .st_information_l ul li a time {
    font-size: 1.6rem;
    line-height: 1;
    width: 100px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 20px;
  }
  .st_information_l ul li a span {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background: #ccc;
    color: #000;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100px;
    padding: 5px 0;
    margin-right: 30px;
  }
  .st_information_l ul li a em {
    width: -webkit-calc(100% - 250px);
    width: -moz-calc(100% - 250px);
    width: calc(100% - 250px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: normal;
  }
}

@media only screen and (max-width: 768px) {
  .st_information_l ul {
    width: 100%;
    padding: 0 3.25521vw;
  }
  .st_information_l ul li {
    padding: 2.60417vw 0;
    width: 100%;
  }
  .st_information_l ul li:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  .st_information_l ul li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    font-size: 4.16667vw;
    line-height: 1;
  }
  .st_information_l ul li a time {
    width: 32.55208vw;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 2.60417vw;
  }
  .st_information_l ul li a span {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background: #ccc;
    color: #000;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 32.55208vw;
    padding: 1.30208vw 0;
  }
  .st_information_l ul li a em {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: normal;
    margin-top: 2.60417vw;
  }
}