@media screen and (min-width: 769px), print {
  .page_ms {
    background: url(../images/bkg_ms.png) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .gr_ttl {
    background: url(../images/bkg_ttl.jpg) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .ttl_st {
    text-align: center;
    font-size: 3.4rem;
    color: #008842;
    line-height: 1;
    font-family: "YuMincho", serif;
    font-weight: normal;
    position: relative;
  }
  .ttl_st span {
    font-size: 2.2rem;
    color: #008842;
    display: block;
    line-height: 1;
    margin-top: 15px;
  }
  .ttl_section {
    font-size: 4.5rem;
    color: #008842;
    line-height: 1;
    font-family: "YuMincho", serif;
    font-weight: normal;
    text-align: center;
  }
  .ttl_section span {
    font-size: 1.8rem;
    line-height: 1;
    display: block;
    color: #111111;
    margin-top: 50px;
    position: relative;
  }
  .ttl_section span:before {
    content: "";
    width: 32px;
    height: 2px;
    background-color: #008842;
    position: absolute;
    top: -27px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .bx_tabs .tabs {
    font-size: 0;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin: 48px 0 0 0;
  }
  .bx_tabs .tabs li {
    background-color: transparent;
    width: 33.33%;
    text-align: center;
    display: inline-block;
  }
  .bx_tabs .tabs li.active {
    background-color: #fff;
  }
  .bx_tabs .tabs li.active a {
    color: #008842;
    border-top: 3px solid #008842;
  }
  .bx_tabs .tabs li a {
    font-size: 2.6rem;
    padding: 27px 0;
    font-family: "YuMincho", serif;
    line-height: 1;
    color: #fff;
    display: block;
    font-weight: bold;
    color: #111111;
    letter-spacing: 1px;
  }
  .bx_tabs .tabs li a span {
    font-size: 1.2rem;
    line-height: 1;
    display: block;
    color: #111111;
    margin-top: 5px;
  }
  .bx_tabs .wrap_components .ctn_tabs {
    background-color: transparent;
  }
  .st_message {
    padding: 82px 0 0 0;
  }
  .st_message .bx_message {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 54px;
  }
  .st_message .bx_message_left {
    width: -webkit-calc(100% - 444px);
    width: -moz-calc(100% - 444px);
    width: calc(100% - 444px);
    padding-right: 61px;
  }
  .st_message .bx_message_left h4 {
    font-size: 2.6rem;
    line-height: 1.5;
    font-weight: normal;
    font-family: "YuMincho", serif;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 35px;
    padding-bottom: 35px;
  }
  .st_message .bx_message_left p {
    font-size: 1.5rem;
    line-height: 28px;
  }
  .st_message .bx_message_left em {
    font-style: normal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "YuMincho", serif;
    margin-top: 25px;
  }
  .st_message .bx_message_left em ins {
    font-size: 1.6rem;
    line-height: 1;
    text-decoration: none;
    margin-right: 25px;
  }
  .st_message .bx_message_left em span {
    font-size: 3rem;
    line-height: 1;
  }
  .st_message .bx_message figure {
    width: 444px;
  }
  .st_company {
    padding: 82px 0 0 0;
  }
  .st_company .bx_company {
    margin-top: 51px;
  }
  .st_company .bx_company dl {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px dotted #cccccc;
    padding: 27px 0;
  }
  .st_company .bx_company dl:first-child {
    border-top: 1px dotted #cccccc;
  }
  .st_company .bx_company dl dt {
    font-size: 2rem;
    line-height: 1.5;
    font-family: "YuMincho", serif;
    width: 147px;
  }
  .st_company .bx_company dl dd {
    font-size: 1.6rem;
    line-height: 1.5;
    width: -webkit-calc(100% - 147px);
    width: -moz-calc(100% - 147px);
    width: calc(100% - 147px);
  }
  .st_company .bx_company dl dd em {
    font-style: normal;
    display: block;
  }
  .st_company .bx_company dl dd em .txt_map {
    font-size: 1.6rem;
    line-height: 32px;
    color: #008842;
    text-decoration: underline;
  }
  .st_company .bx_company dl dd .tel {
    pointer-events: none;
  }
  .st_staff {
    padding: 82px 0 0 0;
  }
  .st_staff .bx_staff {
    margin-top: 56px;
  }
  .st_staff .bx_staff article {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .st_staff .bx_staff article:not(:last-child) {
    margin-bottom: 100px;
  }
  .st_staff .bx_staff article figure {
    width: 480px;
  }
  .st_staff .bx_staff article .ctn_r {
    width: -webkit-calc(100% - 480px);
    width: -moz-calc(100% - 480px);
    width: calc(100% - 480px);
    padding-left: 36px;
  }
  .st_staff .bx_staff article .ctn_r h4 {
    font-size: 2.4rem;
    font-family: "YuMincho", serif;
    font-weight: bold;
    line-height: 1;
    padding: 20px 0;
    border-top: 1px dotted #cccccc;
    border-bottom: 1px dotted #cccccc;
    margin-bottom: 30px;
  }
  .st_staff .bx_staff article .ctn_r dl {
    padding-left: 33px;
    position: relative;
  }
  .st_staff .bx_staff article .ctn_r dl:not(:last-child) {
    margin-bottom: 40px;
  }
  .st_staff .bx_staff article .ctn_r dl:before {
    content: "";
    width: 1px;
    height: 100%;
    background-color: #008842;
    position: absolute;
    top: 0;
    left: 0;
  }
  .st_staff .bx_staff article .ctn_r dl dt {
    font-size: 2rem;
    line-height: 1;
    color: #008842;
    font-family: "YuMincho", serif;
    margin-bottom: 18px;
  }
  .st_staff .bx_staff article .ctn_r dl dd p {
    font-size: 1.4rem;
    line-height: 28px;
  }
  .st_pickup {
    padding: 197px 0 132px;
    overflow: hidden;
  }
  .st_pickup .ttl_st {
    margin-bottom: 117px;
  }
  .st_pickup .ttl_st:before {
    content: "";
    background: url(../../common/images/icon_pickup.png) no-repeat;
    width: 40px;
    height: 48px;
    position: absolute;
    top: -63px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .st_pickup .ttl_st:after {
    content: "PickUp";
    letter-spacing: 15px;
    font-size: 144px;
    line-height: 1;
    color: #8ec54a;
    font-family: "YuMincho", serif;
    position: absolute;
    top: -47px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 9;
    opacity: 0.15;
  }
  .st_pickup_l {
    margin: 0 -10px 0;
  }
  .st_pickup_l::after {
    content: "";
    clear: both;
    display: table;
  }
  .st_pickup_l .slick-arrow {
    position: absolute;
    width: 12px;
    height: 22px;
    border: 0;
    -moz-box-shadow: none;
         box-shadow: none;
    outline: none;
    text-indent: -9999px;
    overflow: hidden;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer;
    background: none;
    z-index: 9;
  }
  .st_pickup_l .slick-arrow.slick-prev {
    background: url("../../common/images/arrow-l.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    left: 25px;
  }
  .st_pickup_l .slick-arrow.slick-next {
    background: url("../../common/images/arrow-r.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    right: 25px;
  }
  .st_pickup_l figure {
    position: relative;
    float: left;
    width: 315px;
    padding: 0 10px;
  }
  .st_pickup_l figure a {
    display: block;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
    overflow: hidden;
  }
  .st_pickup_l figure a:before, .st_pickup_l figure a:after {
    position: absolute;
    top: 6.34921%;
    right: 6.34921%;
    bottom: 6.34921%;
    left: 6.34921%;
    z-index: 3;
    content: "";
    opacity: 0;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .st_pickup_l figure a:before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0, 1);
       -moz-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  .st_pickup_l figure a:after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1, 0);
       -moz-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  .st_pickup_l figure a:hover:before, .st_pickup_l figure a:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
  .st_pickup_l figure a:hover img {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  .st_pickup_l figure img {
    width: 100%;
    height: auto;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .st_pickup_l figure figcaption {
    font-size: 2.8rem;
    color: #fff;
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
  }
  .st_pickup_l figure figcaption span {
    display: block;
    font-size: 1.6rem;
    margin-top: 15px;
    font-weight: normal;
  }
  .st_contact {
    padding: 83px 0 96px;
    background: url(../../common/images/bkg_contact.jpg) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .st_contact .ttl_st {
    margin-bottom: 39px;
  }
  .st_contact_bx {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .st_contact_bx article {
    width: -webkit-calc(50% - 20px);
    width: -moz-calc(50% - 20px);
    width: calc(50% - 20px);
    margin-left: 20px;
    background-color: #fff;
    text-align: center;
    padding: 46px 0 35px;
    height: 203px;
  }
  .st_contact_bx article:nth-of-type(1) h3 {
    position: relative;
    padding-bottom: 10px;
  }
  .st_contact_bx article:nth-of-type(1) h3:after {
    content: "";
    width: 140px;
    height: 1px;
    background-color: #008842;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .st_contact_bx article h3 {
    font-size: 1.8rem;
    line-height: 28px;
    color: #008842;
    font-weight: bold;
  }
  .st_contact_bx article p {
    font-size: 4.5rem;
    line-height: 1;
    color: #008842;
    font-weight: bold;
    font-family: "Proxima Nova", sans-serif;
    margin: 15px 0 7px;
  }
  .st_contact_bx article p .tel {
    pointer-events: none;
    color: #008842;
  }
  .st_contact_bx article em {
    font-size: 1.4rem;
    color: #008842;
    font-style: normal;
    font-weight: bold;
  }
  .st_contact_bx article .link_contact {
    font-size: 1.7rem;
    line-height: 1;
    font-weight: bold;
    color: #fff;
    width: 245px;
    height: 63px;
    border: 1px solid #008842;
    -moz-border-radius: 5px;
         border-radius: 5px;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #008842;
    padding-right: 65px;
    -webkit-transform: perspective(1px) translateZ(0);
       -moz-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    -moz-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    margin: 31px auto 0;
    /* &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #fff;
          transform: scaleX(0);
          transform-origin: 0 50%;
          transition-property: transform;
          transition-duration: 0.3s;
          border-radius: 5px;
          transition-timing-function: ease-out;
        } */
  }
  .st_contact_bx article .link_contact:after {
    content: "";
    background: url(../../common/images/a.png) no-repeat;
    width: 33px;
    height: 6px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 63px;
    -webkit-transition: right 0.25s ease-out;
    -moz-transition: right 0.25s ease-out;
    transition: right 0.25s ease-out;
  }
  .st_contact_bx article .link_contact:hover {
    /* color: #008842;
          &:before {
            transform: scaleX(1);
          } */
  }
  .st_contact_bx article .link_contact:hover:after {
    right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .page_ms {
    background: url(../images/bkg_ms.png) no-repeat;
    -moz-background-size: auto;
         background-size: auto;
  }
  .gr_ttl {
    background: url(../images/bkg_ttl.jpg) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .ttl_st {
    text-align: center;
    font-size: 6.51042vw;
    color: #008842;
    line-height: 1;
    font-family: "YuMincho", serif;
    font-weight: normal;
    position: relative;
  }
  .ttl_st span {
    font-size: 3.90625vw;
    color: #008842;
    display: block;
    line-height: 1;
    margin-top: 15px;
  }
  .ttl_section {
    font-size: 6.77083vw;
    color: #008842;
    line-height: 1;
    font-family: "YuMincho", serif;
    font-weight: normal;
    text-align: center;
  }
  .ttl_section span {
    font-size: 3.38542vw;
    line-height: 1;
    display: block;
    color: #111111;
    margin-top: 6.51042vw;
    position: relative;
  }
  .ttl_section span:before {
    content: "";
    width: 6.51042vw;
    height: 0.39063vw;
    background-color: #008842;
    position: absolute;
    top: -3.51563vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .bx_tabs .tabs {
    font-size: 0;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin: 6.51042vw 0 0 0;
  }
  .bx_tabs .tabs li {
    background-color: transparent;
    width: 33.33%;
    text-align: center;
    display: inline-block;
  }
  .bx_tabs .tabs li.active {
    background-color: #fff;
  }
  .bx_tabs .tabs li.active a {
    color: #008842;
    border-top: 0.39063vw solid #008842;
  }
  .bx_tabs .tabs li a {
    font-size: 3.90625vw;
    padding: 3.90625vw 0;
    font-family: "YuMincho", serif;
    line-height: 1;
    color: #fff;
    display: block;
    font-weight: bold;
    color: #111111;
    letter-spacing: 1px;
  }
  .bx_tabs .tabs li a span {
    font-size: 2.34375vw;
    line-height: 1;
    display: block;
    color: #111111;
    margin-top: 1.30208vw;
  }
  .bx_tabs .wrap_components .ctn_tabs {
    background-color: transparent;
  }
  .st_message {
    padding: 13.02083vw 0 0 0;
  }
  .st_message .bx_message {
    margin-top: 7.8125vw;
  }
  .st_message .bx_message_left h4 {
    font-size: 4.6875vw;
    line-height: 1.5;
    font-weight: normal;
    font-family: "YuMincho", serif;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 5.20833vw;
    padding-bottom: 5.20833vw;
  }
  .st_message .bx_message_left p {
    font-size: 3.64583vw;
    line-height: 5.72917vw;
  }
  .st_message .bx_message_left em {
    font-style: normal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "YuMincho", serif;
    margin-top: 3.90625vw;
    text-align: right;
    display: block;
  }
  .st_message .bx_message_left em ins {
    font-size: 3.125vw;
    line-height: 1;
    text-decoration: none;
    margin-right: 3.90625vw;
  }
  .st_message .bx_message_left em span {
    font-size: 6.51042vw;
    line-height: 1;
  }
  .st_message .bx_message figure {
    margin-top: 3.90625vw;
  }
  .st_message .bx_message figure img {
    width: 100%;
    height: auto;
  }
  .st_company {
    padding: 13.02083vw 0 0 0;
  }
  .st_company .bx_company {
    margin-top: 7.8125vw;
  }
  .st_company .bx_company dl {
    border-bottom: 1px dotted #cccccc;
    padding: 3.90625vw 0;
  }
  .st_company .bx_company dl:first-child {
    border-top: 1px dotted #cccccc;
  }
  .st_company .bx_company dl dt {
    font-size: 3.90625vw;
    line-height: 1.5;
    font-family: "YuMincho", serif;
  }
  .st_company .bx_company dl dd {
    font-size: 3.125vw;
    line-height: 5.72917vw;
  }
  .st_company .bx_company dl dd em {
    font-style: normal;
    display: block;
  }
  .st_company .bx_company dl dd em .txt_map {
    font-size: 3.125vw;
    line-height: 5.72917vw;
    display: block;
    color: #008842;
    text-decoration: underline;
  }
  .st_company .bx_company dl dd .tel {
    pointer-events: none;
  }
  .st_staff {
    padding: 13.02083vw 0 0 0;
  }
  .st_staff .bx_staff {
    margin-top: 7.8125vw;
  }
  .st_staff .bx_staff article:not(:last-child) {
    margin-bottom: 13.02083vw;
  }
  .st_staff .bx_staff article figure img {
    width: 100%;
    height: auto;
  }
  .st_staff .bx_staff article .ctn_r {
    margin-top: 6.51042vw;
  }
  .st_staff .bx_staff article .ctn_r h4 {
    font-size: 4.16667vw;
    font-family: "YuMincho", serif;
    font-weight: bold;
    line-height: 1;
    padding: 3.90625vw 0;
    border-top: 0.26042vw dotted #cccccc;
    border-bottom: 0.26042vw dotted #cccccc;
    margin-bottom: 5.20833vw;
  }
  .st_staff .bx_staff article .ctn_r dl {
    padding-left: 5.20833vw;
    position: relative;
  }
  .st_staff .bx_staff article .ctn_r dl:not(:last-child) {
    margin-bottom: 6.51042vw;
  }
  .st_staff .bx_staff article .ctn_r dl:before {
    content: "";
    width: 0.26042vw;
    height: 100%;
    background-color: #008842;
    position: absolute;
    top: 0;
    left: 0;
  }
  .st_staff .bx_staff article .ctn_r dl dt {
    font-size: 3.90625vw;
    line-height: 1;
    color: #008842;
    font-family: "YuMincho", serif;
    margin-bottom: 18px;
  }
  .st_staff .bx_staff article .ctn_r dl dd p {
    font-size: 3.125vw;
    line-height: 5.72917vw;
  }
  .st_pickup {
    padding: 23.4375vw 0 16.92708vw;
  }
  .st_pickup .ttl_st {
    margin-bottom: 15.625vw;
  }
  .st_pickup .ttl_st:before {
    content: "";
    background: url(../../common/images/icon_pickup.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 5.20833vw;
    height: 6.25vw;
    position: absolute;
    top: -8.20313vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .st_pickup .ttl_st:after {
    content: "PickUp";
    letter-spacing: 1.95313vw;
    font-size: 20.83333vw;
    line-height: 1;
    color: #8ec54a;
    font-family: "YuMincho", serif;
    position: absolute;
    top: -6.51042vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 9;
    opacity: 0.15;
  }
  .st_pickup_l {
    margin: 0 1.30208vw 0;
  }
  .st_pickup_l::after {
    content: "";
    clear: both;
    display: table;
  }
  .st_pickup_l .slick-arrow {
    display: none;
  }
  .st_pickup_l figure {
    position: relative;
    float: left;
    width: 46.875vw;
    padding: 0 1.30208vw;
  }
  .st_pickup_l figure img {
    width: 100%;
    height: auto;
  }
  .st_pickup_l figure figcaption {
    font-size: 4.16667vw;
    color: #fff;
    line-height: 1;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-weight: bold;
  }
  .st_pickup_l figure figcaption span {
    display: block;
    font-size: 3.64583vw;
    margin-top: 15px;
    font-weight: normal;
  }
  .st_contact {
    padding: 13.02083vw 0;
    background: url(../../common/images/bkg_contact.jpg) center center no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .st_contact .ttl_st {
    margin-bottom: 5.20833vw;
  }
  .st_contact_bx article {
    background-color: #fff;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 4.55729vw 0;
    height: 36.45833vw;
  }
  .st_contact_bx article:nth-of-type(1) {
    margin-bottom: 5.20833vw;
  }
  .st_contact_bx article:nth-of-type(1) h3 {
    position: relative;
    padding-bottom: 10px;
  }
  .st_contact_bx article:nth-of-type(1) h3:after {
    content: "";
    width: 140px;
    height: 1px;
    background-color: #008842;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .st_contact_bx article h3 {
    font-size: 3.90625vw;
    line-height: 1.5;
    color: #008842;
    font-weight: bold;
  }
  .st_contact_bx article p {
    font-size: 7.8125vw;
    line-height: 1;
    letter-spacing: 0.39063vw;
    color: #008842;
    font-weight: bold;
    font-family: "Proxima Nova", sans-serif;
    margin: 3.90625vw 0;
  }
  .st_contact_bx article p .tel {
    color: #008842;
  }
  .st_contact_bx article em {
    font-size: 3.64583vw;
    color: #008842;
    font-style: normal;
    font-weight: bold;
  }
  .st_contact_bx article .link_contact {
    font-size: 3.64583vw;
    line-height: 1;
    font-weight: bold;
    color: #fff;
    width: 65.10417vw;
    height: 10.41667vw;
    border: 1px solid #008842;
    -moz-border-radius: 5px;
         border-radius: 5px;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #008842;
    -webkit-transform: perspective(1px) translateZ(0);
       -moz-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    -moz-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    margin: 3.90625vw auto 0;
  }
  .st_contact_bx article .link_contact:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    -webkit-transform: scaleX(0);
       -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
       -moz-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
            transform-origin: 0 50%;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -moz-transition-property: transform, -moz-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform, -moz-transform;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -moz-border-radius: 5px;
         border-radius: 5px;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  .st_contact_bx article .link_contact:after {
    content: "";
    background: url(../../common/images/a.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 4.29688vw;
    height: 0.78125vw;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 8.20313vw;
  }
}
