@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.page_ms{
  background: url(../images/bkg_ms.png) no-repeat;
  background-size: auto;
}
.gr_ttl {
  background: url(../images/bkg_ttl.jpg) no-repeat;
  background-size: cover;
}

.ttl_st {
  text-align: center;
  font-size: vw(50);
  color: #008842;
  line-height: 1;
  font-family: $mincho;
  font-weight: normal;
  position: relative;
  span {
    font-size: vw(30);
    color: #008842;
    display: block;
    line-height: 1;
    margin-top: 15px;
  }
}

.ttl_section {
  font-size: vw(52);
  color: #008842;
  line-height: 1;
  font-family: $mincho;
  font-weight: normal;
  text-align: center;
  span {
    font-size: vw(26);
    line-height: 1;
    display: block;
    color: #111111;
    margin-top: vw(50);
    position: relative;
    &:before {
      content: "";
      width: vw(50);
      height: vw(3);
      background-color: #008842;
      position: absolute;
      top: vw(-27);
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.bx_tabs {
  .tabs {
    font-size: 0;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin: vw(50) 0 0 0;
    li {
      background-color: transparent;
      width: 33.33%;
      text-align: center;
      display: inline-block;
      &.active {
        background-color: #fff;
        a {
          color: #008842;
          border-top: vw(3) solid #008842;
        }
      }
      a {
        font-size: vw(30);
        padding: vw(30) 0;
        font-family: $mincho;
        line-height: 1;
        color: #fff;
        display: block;
        font-weight: bold;
        color: #111111;
        letter-spacing: 1px;
        span {
          font-size: vw(18);
          line-height: 1;
          display: block;
          color: #111111;
          margin-top: vw(10);
        }
      }
    }
  }
  .wrap_components {
    .ctn_tabs {
      background-color: transparent;
    }
  }
}


.st_message {
  padding: vw(100) 0 0 0;
  .bx_message{
    margin-top: vw(60);
    &_left{
      h4{
        font-size: vw(36);
        line-height: 1.5;
        font-weight: normal;
        font-family: $mincho;
        border-bottom: 1px solid #cccccc;
        margin-bottom: vw(40);
        padding-bottom: vw(40);
      }
      p{
        font-size: vw(28);
        line-height: vw(44);
      }
      em{
        font-style: normal;
        display: flex;
        align-items: center;
        font-family: $mincho;
        margin-top: vw(30);
        text-align: right;
        display: block;
        ins{
          font-size: vw(24);
          line-height: 1;
          text-decoration: none;
          margin-right: vw(30);
        }
        span{
          font-size: vw(50);
          line-height: 1;
        }
      }
    }
    figure{
      margin-top: vw(30);
      img{
        width: 100%;
        height: auto;
      }
    }
  }
}

.st_company {
  padding: vw(100) 0 0 0;
  .bx_company{
    margin-top: vw(60);
    dl{
      border-bottom: 1px dotted #cccccc;
      padding: vw(30) 0;
      &:first-child{
        border-top: 1px dotted #cccccc;
      }
      dt{
        font-size: vw(30);
        line-height: 1.5;
        font-family: $mincho;
      }
      dd{
        font-size: vw(24);
        line-height: vw(44);
        em{
          font-style: normal;
          display: block;
          .txt_map{
            font-size: vw(24);
            line-height: vw(44);
            display: block;
            color: #008842;
            text-decoration: underline;
          }
        }
        .tel{
          pointer-events: none;
        }
      }
    }
  }
}

.st_staff {
  padding: vw(100) 0 0 0;
  .bx_staff {
    margin-top: vw(60);
    article {
      &:not(:last-child) {
        margin-bottom: vw(100);
      }
      figure {
        img{
          width: 100%;
          height: auto;
        }
      }
      .ctn_r {
        margin-top: vw(50);
        h4 {
          font-size: vw(32);
          font-family: $mincho;
          font-weight: bold;
          line-height: 1;
          padding: vw(30) 0;
          border-top: vw(2) dotted #cccccc;
          border-bottom: vw(2) dotted #cccccc;
          margin-bottom: vw(40);
        }
        dl {
          padding-left: vw(40);
          position: relative;
          &:not(:last-child) {
            margin-bottom: vw(50);
          }
          &:before {
            content: "";
            width: vw(2);
            height: 100%;
            background-color: #008842;
            position: absolute;
            top: 0;
            left: 0;
          }
          dt {
            font-size: vw(30);
            line-height: 1;
            color: #008842;
            font-family: $mincho;
            margin-bottom: 18px;
          }
          dd {
            p {
              font-size: vw(24);
              line-height: vw(44);
            }
          }
        }
      }
    }
  }
}


.st_pickup {
  padding: vw(180) 0 vw(130);
  .ttl_st {
    margin-bottom: vw(120);
    &:before {
      content: "";
      background: url(../../common/images/icon_pickup.png) no-repeat;
      background-size: contain;
      width: vw(40);
      height: vw(48);
      position: absolute;
      top: vw(-63);
      left: 50%;
      transform: translateX(-50%);
    }
    &:after {
      content: "PickUp";
      letter-spacing: vw(15);
      font-size: vw(160);
      line-height: 1;
      color: #8ec54a;
      font-family: $mincho;
      position: absolute;
      top: vw(-50);
      left: 50%;
      transform: translateX(-50%);
      z-index: 9;
      opacity: 0.15;
    }
  }
  &_l {
    margin: 0 vw(10) 0;
    &::after {
      content: "";
      clear: both;
      display: table;
    }
    .slick-arrow {
      display: none;
    }
    figure {
      position: relative;
      float: left;
      width: vw(360);
      padding: 0 vw(10);
      img {
        width: 100%;
        height: auto;
      }
      figcaption {
        font-size: vw(32);
        color: #fff;
        line-height: 1;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        span {
          display: block;
          font-size: vw(28);
          margin-top: 15px;
          font-weight: normal;
        }
      }
    }
  }
}

.st_contact {
  padding: vw(100) 0;
  background: url(../../common/images/bkg_contact.jpg) center center no-repeat;
  background-size: cover;
  .ttl_st {
    margin-bottom: vw(40);
  }
  &_bx {
    article {
      background-color: #fff;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: vw(35) 0;
      height: vw(280);
      &:nth-of-type(1) {
        margin-bottom: vw(40);
        h3 {
          position: relative;
          padding-bottom: 10px;
          &:after {
            content: "";
            width: 140px;
            height: 1px;
            background-color: #008842;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      h3 {
        font-size: vw(30);
        line-height: 1.5;
        color: #008842;
        font-weight: bold;
      }
      p {
        font-size: vw(60);
        line-height: 1;
        letter-spacing: vw(3);
        color: #008842;
        font-weight: bold;
        font-family: "Proxima Nova", sans-serif;
        margin: vw(30) 0;
        .tel {
          color: #008842;
        }
      }
      em {
        font-size: vw(28);
        color: #008842;
        font-style: normal;
        font-weight: bold;
      }
      .link_contact {
        font-size: vw(28);
        line-height: 1;
        font-weight: bold;
        color: #fff;
        width: vw(500);
        height: vw(80);
        border: 1px solid #008842;
        border-radius: 5px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #008842;
        transform: perspective(1px) translateZ(0);
        transition-property: color;
        transition-duration: 0.3s;
        margin: vw(30) auto 0;
        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #fff;
          transform: scaleX(0);
          transform-origin: 0 50%;
          transition-property: transform;
          transition-duration: 0.3s;
          border-radius: 5px;
          transition-timing-function: ease-out;
        }
        &:after {
          content: "";
          background: url(../../common/images/a.png) no-repeat;
          background-size: contain;
          width: vw(33);
          height: vw(6);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: vw(63);
        }
      }
    }
  }
}