@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.page_ms {
  background: url(../images/bkg_ms.png) no-repeat;
  background-size: cover;
}

.gr_ttl {
  background: url(../images/bkg_ttl.jpg) no-repeat;
  background-size: cover;
}

.ttl_st {
  text-align: center;
  font-size: rem(34);
  color: #008842;
  line-height: 1;
  font-family: $mincho;
  font-weight: normal;
  position: relative;
  span {
    font-size: rem(22);
    color: #008842;
    display: block;
    line-height: 1;
    margin-top: 15px;
  }
}

.ttl_section {
  font-size: rem(45);
  color: #008842;
  line-height: 1;
  font-family: $mincho;
  font-weight: normal;
  text-align: center;
  span {
    font-size: rem(18);
    line-height: 1;
    display: block;
    color: #111111;
    margin-top: 50px;
    position: relative;
    &:before {
      content: "";
      width: 32px;
      height: 2px;
      background-color: #008842;
      position: absolute;
      top: -27px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.bx_tabs {
  .tabs {
    font-size: 0;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin: 48px 0 0 0;
    li {
      background-color: transparent;
      width: 33.33%;
      text-align: center;
      display: inline-block;
      &.active {
        background-color: #fff;
        a {
          color: #008842;
          border-top: 3px solid #008842;
        }
      }
      a {
        font-size: rem(26);
        padding: 27px 0;
        font-family: $mincho;
        line-height: 1;
        color: #fff;
        display: block;
        font-weight: bold;
        color: #111111;
        letter-spacing: 1px;
        span {
          font-size: rem(12);
          line-height: 1;
          display: block;
          color: #111111;
          margin-top: 5px;
        }
      }
    }
  }
  .wrap_components {
    .ctn_tabs {
      background-color: transparent;
    }
  }
}

.st_message {
  padding: 82px 0 0 0;
  .bx_message {
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
    &_left {
      width: calc(100% - 444px);
      padding-right: 61px;
      h4 {
        font-size: rem(26);
        line-height: 1.5;
        font-weight: normal;
        font-family: $mincho;
        border-bottom: 1px solid #cccccc;
        margin-bottom: 35px;
        padding-bottom: 35px;
      }
      p {
        font-size: rem(15);
        line-height: 28px;
      }
      em {
        font-style: normal;
        display: flex;
        align-items: center;
        font-family: $mincho;
        margin-top: 25px;
        ins {
          font-size: rem(16);
          line-height: 1;
          text-decoration: none;
          margin-right: 25px;
        }
        span {
          font-size: rem(30);
          line-height: 1;
        }
      }
    }
    figure {
      width: 444px;
    }
  }
}

.st_company {
  padding: 82px 0 0 0;
  .bx_company {
    margin-top: 51px;
    dl {
      display: flex;
      align-items: center;
      border-bottom: 1px dotted #cccccc;
      padding: 27px 0;
      &:first-child {
        border-top: 1px dotted #cccccc;
      }
      dt {
        font-size: rem(20);
        line-height: 1.5;
        font-family: $mincho;
        width: 147px;
      }
      dd {
        font-size: rem(16);
        line-height: 1.5;
        width: calc(100% - 147px);
        em {
          font-style: normal;
          display: block;
          .txt_map {
            font-size: rem(16);
            line-height: 32px;
            color: #008842;
            text-decoration: underline;
          }
        }
        .tel {
          pointer-events: none;
        }
      }
    }
  }
}

.st_staff {
  padding: 82px 0 0 0;
  .bx_staff {
    margin-top: 56px;
    article {
      display: flex;
      &:not(:last-child) {
        margin-bottom: 100px;
      }
      figure {
        width: 480px;
      }
      .ctn_r {
        width: calc(100% - 480px);
        padding-left: 36px;
        h4 {
          font-size: rem(24);
          font-family: $mincho;
          font-weight: bold;
          line-height: 1;
          padding: 20px 0;
          border-top: 1px dotted #cccccc;
          border-bottom: 1px dotted #cccccc;
          margin-bottom: 30px;
        }
        dl {
          padding-left: 33px;
          position: relative;
          &:not(:last-child) {
            margin-bottom: 40px;
          }
          &:before {
            content: "";
            width: 1px;
            height: 100%;
            background-color: #008842;
            position: absolute;
            top: 0;
            left: 0;
          }
          dt {
            font-size: rem(20);
            line-height: 1;
            color: #008842;
            font-family: $mincho;
            margin-bottom: 18px;
          }
          dd {
            p {
              font-size: rem(14);
              line-height: 28px;
            }
          }
        }
      }
    }
  }
}

.st_pickup {
  padding: 197px 0 132px;
  overflow: hidden;
  .ttl_st {
    margin-bottom: 117px;
    &:before {
      content: "";
      background: url(../../common/images/icon_pickup.png) no-repeat;
      width: 40px;
      height: 48px;
      position: absolute;
      top: -63px;
      left: 50%;
      transform: translateX(-50%);
    }
    &:after {
      content: "PickUp";
      letter-spacing: 15px;
      font-size: 144px;
      line-height: 1;
      color: #8ec54a;
      font-family: $mincho;
      position: absolute;
      top: -47px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 9;
      opacity: 0.15;
    }
  }
  &_l {
    margin: 0 -10px 0;
    &::after {
      content: "";
      clear: both;
      display: table;
    }
    .slick-arrow {
      position: absolute;
      width: 12px;
      height: 22px;
      border: 0;
      box-shadow: none;
      outline: none;
      text-indent: -9999px;
      overflow: hidden;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      background: none;
      z-index: 9;
      &.slick-prev {
        background: url('../../common/images/arrow-l.png') 0 0 no-repeat;
        background-size: contain;
        left: 25px;
      }
      &.slick-next {
        background: url('../../common/images/arrow-r.png') 0 0 no-repeat;
        background-size: contain;
        right: 25px;
      }
    }
    figure {
      position: relative;
      float: left;
      width: 315px;
      padding: 0 10px;
      a {
        display: block;
        transition: all .3s ease-out;
        overflow: hidden;
        &:before,
        &:after {
          position: absolute;
          top: percentage(20/315);
          right: percentage(20/315);
          bottom: percentage(20/315);
          left: percentage(20/315);
          z-index: 3;
          content: "";
          opacity: 0;
          transition: .3s ease-in-out;
        }
        &:before {
          border-top: 1px solid #fff;
          border-bottom: 1px solid #fff;
          transform: scale(0, 1);
        }
        &:after {
          border-right: 1px solid #fff;
          border-left: 1px solid #fff;
          transform: scale(1, 0);
        }
        &:hover {
          &:before,
          &:after {
            opacity: 1;
            transform: scale(1);
          }
          img {
            transform: scale(1.1);
          }
        }
      }
      img {
        width: 100%;
        height: auto;
        transition: .3s ease-in-out;
      }
      figcaption {
        font-size: rem(28);
        color: #fff;
        line-height: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        text-align: center;
        span {
          display: block;
          font-size: rem(16);
          margin-top: 15px;
          font-weight: normal;
        }
      }
    }
  }
}

.st_contact {
  padding: 83px 0 96px;
  background: url(../../common/images/bkg_contact.jpg) no-repeat;
  background-size: cover;
  .ttl_st {
    margin-bottom: 39px;
  }
  &_bx {
    display: flex;
    align-items: center;
    article {
      width: calc(50% - 20px);
      margin-left: 20px;
      background-color: #fff;
      text-align: center;
      padding: 46px 0 35px;
      height: 203px;
      &:nth-of-type(1) {
        h3 {
          position: relative;
          padding-bottom: 10px;
          &:after {
            content: "";
            width: 140px;
            height: 1px;
            background-color: #008842;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      h3 {
        font-size: rem(18);
        line-height: 28px;
        color: #008842;
        font-weight: bold;
      }
      p {
        font-size: rem(45);
        line-height: 1;
        color: #008842;
        font-weight: bold;
        font-family: "Proxima Nova", sans-serif;
        margin: 15px 0 7px;
        .tel {
          pointer-events: none;
          color: #008842;
        }
      }
      em {
        font-size: rem(14);
        color: #008842;
        font-style: normal;
        font-weight: bold;
      }
      .link_contact {
        font-size: rem(17);
        line-height: 1;
        font-weight: bold;
        color: #fff;
        width: 245px;
        height: 63px;
        border: 1px solid #008842;
        border-radius: 5px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #008842;
        padding-right: 65px;
        transform: perspective(1px) translateZ(0);
        transition-property: color;
        transition-duration: 0.3s;
        margin: 31px auto 0;
        /* &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #fff;
          transform: scaleX(0);
          transform-origin: 0 50%;
          transition-property: transform;
          transition-duration: 0.3s;
          border-radius: 5px;
          transition-timing-function: ease-out;
        } */
        &:after {
          content: "";
          background: url(../../common/images/a.png) no-repeat;
          width: 33px;
          height: 6px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 63px;
          transition: right 0.25s ease-out;
        }
        &:hover {
          /* color: #008842;
          &:before {
            transform: scaleX(1);
          } */
          &:after {
            right: 50px;
          }
        }
      }
    }
  }
}