@charset "UTF-8";
html {
  font-size: 10px;
}

body,
td,
th,
input,
textarea {
  color: #000000;
  /* font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif; */
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}

body {
  overflow-wrap: break-word;
}

a,
a:link,
a:visited,
a:active,
a:hover,
a:hover img {
  color: #000000;
  text-decoration: none;
  /*
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
*/
}

a:hover {
  text-decoration: none;
}

a:hover,
a:hover img,
.img_hover:hover {
  /*
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
*/
}

img {
  vertical-align: bottom;
}

div,
p {
  /*word-break: break-all;*/
}

h2,
h3,
h4,
h5,
h6,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
img,
nav {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, nav, picture {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ul,
ol,
li {
  list-style: none;
}

figure, picture {
  font-size: 0;
}

picture {
  display: block;
}

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.fadeIn {
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.fadeIn.active {
  opacity: 1;
}

.slideLeft {
  opacity: 0;
  -webkit-transform: translateX(-50px);
     -moz-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
          transform: translateX(-50px);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

.slideLeft.active {
  opacity: 1;
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.delay_03 {
  -webkit-transition-delay: 0.3s;
     -moz-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.delay_06 {
  -webkit-transition-delay: 0.6s;
     -moz-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.delay_09 {
  -webkit-transition-delay: 0.9s;
     -moz-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

@media screen and (min-width: 769px), print {
  .row {
    max-width: 1080px;
    margin: 0 auto;
  }
  .container {
    min-width: 1200px;
    overflow: hidden;
  }
  .breadcrumb {
    margin: 21px 0 0 34px;
  }
  .breadcrumb li {
    font-size: 1.2rem;
    line-height: 1;
    display: inline-block;
    position: relative;
  }
  .breadcrumb li a {
    display: block;
  }
  .breadcrumb li a:hover {
    color: #008842;
  }
  .breadcrumb li:not(:last-child) {
    margin-right: 15px;
  }
  .breadcrumb li:last-child:after {
    content: none;
  }
  .breadcrumb li:after {
    content: ">";
    font-size: 1.2rem;
    line-height: 1;
    position: absolute;
    top: 50%;
    right: -12px;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .page header.fixed .hd_box {
    border-bottom: none;
  }
  .page header .hd_box {
    padding: 18px 0;
    border-bottom: 1px solid #79967c;
  }
  header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
  }
  header.fixed {
    position: fixed;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    z-index: 99;
    min-width: 1200px;
    -moz-box-shadow: 0px 0px 8px 0px rgba(50, 49, 49, 0.39);
         box-shadow: 0px 0px 8px 0px rgba(50, 49, 49, 0.39);
  }
  header.fixed .hd_box {
    padding: 10px 0;
  }
  header.fixed .hd_box:before {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
  header .hd_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  header .hd_box:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 136, 66, 0.9);
    -webkit-transform: scaleX(0);
       -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 50%;
       -moz-transform-origin: 50%;
        -ms-transform-origin: 50%;
            transform-origin: 50%;
    transition: -webkit-transform;
    -webkit-transition: -webkit-transform;
    -moz-transition: transform, -moz-transform;
    transition: transform;
    transition: transform, -webkit-transform, -moz-transform;
    transition: transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  header .hd_box_logo {
    margin-left: 30px;
  }
  header .hd_box_logo a {
    display: block;
    line-height: 1;
  }
  header .hd_box_logo a img {
    width: 221px;
    height: 61px;
  }
  header .hd_box_nav ul li {
    display: inline-block;
    margin-right: 30px;
    position: relative;
  }
  header .hd_box_nav ul li a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    position: relative;
    display: block;
    /* &:hover{
              color: #009f4d;
              span{
                color: #fff;
              }
            } */
  }
  header .hd_box_nav ul li a:after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
    background: rgba(235, 182, 30, 0.8);
    left: 50%;
    top: 17px;
    margin: 0 auto;
    opacity: 0;
    -webkit-transform: translate3d(-50%, 50px, 0) scale(0);
       -moz-transform: translate3d(-50%, 50px, 0) scale(0);
            transform: translate3d(-50%, 50px, 0) scale(0);
    -webkit-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .6s;
       -moz-transition-duration: .6s;
            transition-duration: .6s;
    -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
       -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
            transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    z-index: -1;
  }
  header .hd_box_nav ul li a:hover {
    opacity: 1;
  }
  header .hd_box_nav ul li a:hover:after {
    opacity: 1;
    -webkit-transform: translate3d(-10px, 0px, 0) scale(1);
       -moz-transform: translate3d(-10px, 0px, 0) scale(1);
            transform: translate3d(-10px, 0px, 0) scale(1);
  }
  header .hd_box_nav ul li a span {
    display: block;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "YuMincho", serif;
  }
  footer {
    background: url(../../common/images/footer.png) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  footer .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .bx_ft {
    padding: 60px 0 0;
  }
  footer .bx_ft_l {
    width: 50%;
    height: 240px;
  }
  footer .bx_ft_l h2 a {
    display: block;
  }
  footer .bx_ft_l h2 a img {
    width: 221px;
    height: 61px;
  }
  footer .bx_ft_l ul {
    margin-top: 20px;
  }
  footer .bx_ft_l ul li {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #fff;
  }
  footer .bx_ft_r {
    width: 50%;
    height: 240px;
    padding-left: 125px;
  }
  footer .bx_ft_r ul li {
    margin-bottom: 25px;
  }
  footer .bx_ft_r ul li a {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #fff;
  }
  footer .bx_ft .copyright {
    border-top: 1px solid #5a7866;
    padding: 25px 0 20px;
  }
  footer .bx_ft .copyright p {
    font-size: 1.4rem;
    text-align: center;
    color: #fff;
    display: block;
    width: 100%;
  }
  .gr_ttl {
    height: 420px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gr_ttl .ttl {
    font-size: 5rem;
    line-height: 1;
    font-family: "YuMincho", serif;
    color: #fff;
    text-align: center;
    font-weight: 300;
    letter-spacing: 4px;
  }
  .gr_ttl .ttl span {
    display: block;
    line-height: 1;
    font-size: 1.8rem;
    margin-top: 17px;
  }
}

@media screen and (max-width: 768px) {
  .show_pc {
    display: none !important;
  }
  .row {
    padding: 0 3.90625vw;
  }
  .breadcrumb {
    margin: 3.90625vw 0 0 3.90625vw;
  }
  .breadcrumb li {
    font-size: 2.60417vw;
    line-height: 1;
    display: inline-block;
    position: relative;
  }
  .breadcrumb li a {
    display: block;
  }
  .breadcrumb li a:hover {
    color: #008842;
  }
  .breadcrumb li:not(:last-child) {
    margin-right: 3.90625vw;
  }
  .breadcrumb li:last-child:after {
    content: none;
  }
  .breadcrumb li:after {
    content: ">";
    font-size: 2.60417vw;
    line-height: 1;
    position: absolute;
    top: 50%;
    right: -2.60417vw;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  header {
    height: 18.61979vw;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
  }
  header.bkg_none .hd_box:before {
    content: none;
  }
  header.fixed {
    position: fixed;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    z-index: 99;
    width: 100%;
  }
  header.fixed .hd_box:before {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
  header .hd_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.60417vw 3.90625vw;
  }
  header .hd_box:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 136, 66, 0.9);
    -webkit-transform: scaleX(0);
       -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 50%;
       -moz-transform-origin: 50%;
        -ms-transform-origin: 50%;
            transform-origin: 50%;
    transition: -webkit-transform;
    -webkit-transition: -webkit-transform;
    -moz-transition: transform, -moz-transform;
    transition: transform;
    transition: transform, -webkit-transform, -moz-transform;
    transition: transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  header .hd_box_logo a {
    display: block;
    line-height: 1;
  }
  header .hd_box_logo a img {
    width: 41.66667vw;
    height: 13.02083vw;
  }
  header .hd_box_nav {
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    z-index: 99;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.35s linear;
    -moz-transition: all 0.35s linear;
    transition: all 0.35s linear;
    overflow-y: scroll;
    background: rgba(0, 136, 66, 0.9);
  }
  header .hd_box_nav.open {
    opacity: 1;
    visibility: visible;
  }
  header .hd_box_nav ul li {
    text-align: center;
    padding: 3.90625vw 0;
  }
  header .hd_box_nav ul li:not(:last-child) {
    border-bottom: 1px dashed #fff;
  }
  header .hd_box_nav ul li a {
    font-size: 5.85938vw;
    line-height: 1.5;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
       -moz-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
  }
  header .hd_box_nav ul li a span {
    display: block;
    font-size: 3.64583vw;
    font-family: "YuMincho", serif;
  }
  header .humberger {
    width: 10.02604vw;
    height: 7.8125vw;
    position: relative;
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    cursor: pointer;
  }
  header .humberger span {
    display: block;
    position: absolute;
    height: 0.78125vw;
    width: 10.02604vw;
    background: #fff;
    -moz-border-radius: 9px;
    border-radius: 9px;
    opacity: 1;
    right: 0;
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  header .humberger span:nth-child(1) {
    top: 0;
  }
  header .humberger span:nth-child(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  header .humberger span:nth-child(3) {
    bottom: 0;
  }
  header .humberger.open span:nth-child(1) {
    top: 3.38542vw;
    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  header .humberger.open span:nth-child(2) {
    opacity: 0;
    right: 7.8125vw;
  }
  header .humberger.open span:nth-child(3) {
    bottom: 3.51563vw;
    -webkit-transform: rotate(-135deg);
       -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  footer {
    background: url(../../common/images/footer.png) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  footer .bx_ft {
    padding: 5.20833vw 0 0;
  }
  footer .bx_ft_l {
    text-align: center;
  }
  footer .bx_ft_l h2 a {
    display: block;
  }
  footer .bx_ft_l h2 a img {
    width: 41.66667vw;
    height: 13.02083vw;
  }
  footer .bx_ft_l ul {
    margin-top: 2.60417vw;
  }
  footer .bx_ft_l ul li {
    font-size: 3.64583vw;
    line-height: 1.5;
    color: #fff;
  }
  footer .bx_ft_r {
    margin-top: 5.20833vw;
  }
  footer .bx_ft_r ul li {
    padding: 2.60417vw 0;
    text-align: center;
  }
  footer .bx_ft_r ul li:not(:last-child) {
    border-bottom: 1px dashed #fff;
  }
  footer .bx_ft_r ul li a {
    font-size: 3.64583vw;
    line-height: 1.5;
    color: #fff;
  }
  footer .bx_ft .copyright {
    border-top: 1px solid #5a7866;
    padding: 5.20833vw 0;
  }
  footer .bx_ft .copyright p {
    font-size: 3.64583vw;
    text-align: center;
    color: #fff;
    display: block;
    width: 100%;
  }
  .gr_ttl {
    height: 57.29167vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gr_ttl .ttl {
    font-size: 6.77083vw;
    line-height: 1;
    font-family: "YuMincho", serif;
    color: #fff;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.52083vw;
  }
  .gr_ttl .ttl span {
    display: block;
    line-height: 1;
    font-size: 3.38542vw;
    margin-top: 2.60417vw;
  }
}
.single .single-post {
  overflow: hidden;
  margin: 70px auto 70px;
}
.single .single-post time {
  display: block;
  font-family: 'Lato', sans-serif;
}
@media screen and (max-width: 768px) {
  .single .single-post time {
    margin-bottom: 5px;
  }
}
.single .single-post .single-h2 {
  font-size: 2.6rem;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #008842;
}
.single .single-post .infor_content {
  font-size: 2rem;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .single .single-post .single-h2 {
    font-size: 2rem;
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) and (max-width: 414px) {
  .single .single-post .single-h2 {
    font-size: 1.8rem;
  }
}

.single .single-post p {
  margin-bottom: 30px;
}
.single .single-post p:last-child {
  margin-bottom: 0;
}
.single .single-post a {
  color: #e60012;
  text-decoration: underline;
}
.single .section-newslist.single-post a {
  display: block;
}
.single .section-newslist.single-post img {
  max-width: 100%;
}
.single .section-newslist.single-post img.alignnone, .single .section-newslist.single-post img.aligncenter {
  display: block;
  margin: 20px auto;
}
.single .section-newslist.single-post img.alignleft {
  float: left;
  margin: auto 20px 20px auto;
}
.single .section-newslist.single-post img.alignright {
  float: right;
  margin: auto auto 20px 20px;
}

.single .single-post-history .box-article-01 {
  overflow: hidden;
  margin: auto auto 70px;
}
.single .single-post-history .box-article-01 time {
  color: #e60012;
  display: block;
  font-size: 2rem;
  line-height: 1;
}
@media screen and (max-width: 768px) {
  .single .single-post-history .box-article-01 time {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
}
.single .single-post-history .box-article-01 .unit-under-title01 {
  padding-top: 0;
}
.single .single-post-history .box-article-01 p {
  margin-bottom: 30px;
}
.single .single-post-history .box-article-01 p:last-child {
  margin-bottom: 0;
}
.single .single-post-history .box-article-01 a {
  color: #e60012;
  text-decoration: underline;
}
.single .single-post-history .box-article-01 .unit-btn-02 .inner {
  text-decoration: none;
}
.infor_btn {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.infor_btn a {
  font-size: 1.7rem;
    line-height: 1;
    font-weight: bold;
    color: #008842!important;
    text-decoration: none!important;
    width: 245px;
    height: 65px;
    border: 1px solid #008842;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    padding-right: 65px;
    -webkit-transform: perspective(1px) translateZ(0);
    -moz-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    -moz-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    margin: 0 auto 0;
}
.infor_btn a::after {
  content: "";
  background: url(../images/icon_green.png) no-repeat;
  width: 33px;
  height: 6px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 63px;
  -webkit-transition: right 0.25s ease-out;
  -moz-transition: right 0.25s ease-out;
  transition: right 0.25s ease-out;
}