@charset "utf-8";
// ===================================================================
//  common_sp.css
// ===================================================================
.show_pc {
  display: none !important;
}
.row{
    padding: 0 vw(30);
}
.breadcrumb {
  margin: vw(30) 0 0 vw(30);
  li {
    font-size: vw(20);
    line-height: 1;
    display: inline-block;
    position: relative;
    a {
      display: block;
      &:hover {
        color: #008842;
      }
    }
    &:not(:last-child) {
      margin-right: vw(30);
    }
    &:last-child {
      &:after {
        content: none;
      }
    }
    &:after {
      content: ">";
      font-size: vw(20);
      line-height: 1;
      position: absolute;
      top: 50%;
      right: vw(-20);
      transform: translateY(-50%);
    }
  }
}