@charset "utf-8";
// ===================================================================
//  common_pc.css
// ===================================================================
.row {
  max-width: 1080px;
  margin: 0 auto;
}

.container {
  min-width: 1200px;
  overflow: hidden;
}

.breadcrumb {
  margin: 21px 0 0 34px;
  li {
    font-size: rem(12);
    line-height: 1;
    display: inline-block;
    position: relative;
    a {
      display: block;
      &:hover {
        color: #008842;
      }
    }
    &:not(:last-child) {
      margin-right: 15px;
    }
    &:last-child {
      &:after {
        content: none;
      }
    }
    &:after {
      content: ">";
      font-size: rem(12);
      line-height: 1;
      position: absolute;
      top: 50%;
      right: -12px;
      transform: translateY(-50%);
    }
  }
}

