footer {
  background: url(../../common/images/footer.png) no-repeat;
  background-size: cover;
  .row {
    display: flex;
  }
  .bx_ft {
    padding: 60px 0 0;
    &_l {
      width: 50%;
      height: 240px;
      h2 {
        a {
          display: block;
          img {
            width: 221px;
            height: 61px;
          }
        }
      }
      ul {
        margin-top: 20px;
        li {
          font-size: rem(14);
          line-height: 1.5;
          color: #fff;
        }
      }
    }
    &_r {
      width: 50%;
      height: 240px;
      padding-left: 125px;
      ul {
        li {
          margin-bottom: 25px;
          a {
            font-size: rem(14);
            line-height: 1.5;
            color: #fff;
          }
        }
      }
    }
    .copyright {
      border-top: 1px solid #5a7866;
      padding: 25px 0 20px;
      p {
        font-size: rem(14);
        text-align: center;
        color: #fff;
        display: block;
        width: 100%;
      }
    }
  }
}