footer {
  background: url(../../common/images/footer.png) no-repeat;
  background-size: cover;
  .bx_ft {
    padding: vw(40) 0 0;
    &_l {
      text-align: center;
      h2 {
        a {
          display: block;
          img {
            width: vw(320);
            height: vw(100);
          }
        }
      }
      ul {
        margin-top: vw(20);
        li {
          font-size: vw(28);
          line-height: 1.5;
          color: #fff;
        }
      }
    }
    &_r {
      margin-top: vw(40);
      ul {
        li {
          padding: vw(20) 0;
          text-align: center;
          &:not(:last-child){
            border-bottom: 1px dashed #fff;
          }
          a {
            font-size: vw(28);
            line-height: 1.5;
            color: #fff;
          }
        }
      }
    }
    .copyright {
      border-top: 1px solid #5a7866;
      padding: vw(40) 0;
      p {
        font-size: vw(28);
        text-align: center;
        color: #fff;
        display: block;
        width: 100%;
      }
    }
  }
}