.page {
  header {
    &.fixed{
      .hd_box{
        border-bottom: none;
      }
    }
    .hd_box {
      padding: 18px 0;
      border-bottom: 1px solid #79967c;
    }
  }
}

header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  &.fixed {
    position: fixed;
    transform: translate3d(0, 0, 0);
    z-index: 99;
    min-width: 1200px;
    box-shadow: 0px 0px 8px 0px rgba(50, 49, 49, 0.39);
    .hd_box {
      padding: 10px 0;
      &:before {
        transform: scale(1);
      }
    }
  }
  .hd_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;

    transition: all 0.3s;
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 136, 66, 0.9);
      transform: scaleX(0);
      transform-origin: 50%;
      transition: -webkit-transform;
      transition: transform;
      transition: transform, -webkit-transform, -moz-transform;
      transition: transform, -webkit-transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
    &_logo {
      margin-left: 30px;
      a {
        display: block;
        line-height: 1;
        img {
          width: 221px;
          height: 61px;
        }
      }
    }
    &_nav {
      ul {
        li {
          display: inline-block;
          margin-right: 30px;
          position: relative;
          a {
            color: white;
            font-size: rem(20);
            text-decoration: none;
            font-weight: bold;
            text-align: center;
            position: relative;
            display: block;
            &:after {
              position: absolute;
              content: "";
              width: 20px;
              height: 20px;
              -moz-border-radius: 50%;
              border-radius: 50%;
              display: block;
              background: rgba(235, 182, 30, 0.8);
              left: 50%;
              top: 17px;
              margin: 0 auto;
              opacity: 0;
              transform: translate3d(-50%, 50px, 0) scale(0);
              transition-property: all;
              transition-duration: .6s;
              transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
              z-index: -1;
            }
            &:hover {
              opacity: 1;
              &:after {
                opacity: 1;
                transform: translate3d(-10px, 0px, 0) scale(1);
              }
            }

            span {
              display: block;
              font-size: rem(13);
              font-weight: 500;
              font-family: $mincho;
            }
            /* &:hover{
              color: #009f4d;
              span{
                color: #fff;
              }
            } */
          }
        }
      }
    }
  }
}