header {
  height: vw(143);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  &.bkg_none {
    .hd_box {
      &:before {
        content: none;
      }
    }
  }
  &.fixed {
    position: fixed;
    transform: translate3d(0, 0, 0);
    z-index: 99;
    width: 100%;
    .hd_box {
      &:before {
        transform: scale(1);
      }
    }
  }
  .hd_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: vw(20) vw(30);
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 136, 66, 0.9);
      transform: scaleX(0);
      transform-origin: 50%;
      transition: -webkit-transform;
      transition: transform;
      transition: transform, -webkit-transform, -moz-transform;
      transition: transform, -webkit-transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
    &_logo {
      a {
        display: block;
        line-height: 1;
        img {
          width: vw(320);
          height: vw(100);
        }
      }
    }
    &_nav {
      position: absolute;
      width: 100%;
      height: 0;
      left: 0;
      z-index: 99;
      visibility: hidden;
      backface-visibility: hidden;
      opacity: 0;
      transition: all 0.35s linear;
      overflow-y: scroll;
      background: rgba(0, 136, 66, 0.9);
      &.open {
        opacity: 1;
        visibility: visible;
      }
      ul {
        li {
          text-align: center;
          padding: vw(30) 0;
          &:not(:last-child) {
            border-bottom: 1px dashed #fff;
          }
          a {
            font-size: vw(45);
            line-height: 1.5;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            display: inline-block;
            position: relative;
            transform: perspective(1px) translateZ(0);
            span {
              display: block;
              font-size: vw(28);
              font-family: $mincho;
            }
          }
        }
      }
    }
  }
  .humberger {
    width: vw(77);
    height: vw(60);
    position: relative;
    transform: rotate(0deg);
    cursor: pointer;
    span {
      display: block;
      position: absolute;
      height: vw(6);
      width: vw(77);
      background: #fff;
      -moz-border-radius: 9px;
      border-radius: 9px;
      opacity: 1;
      right: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }
      &:nth-child(3) {
        bottom: 0;
      }
    }
    &.open {
      span {
        &:nth-child(1) {
          top: vw(26);
          transform: rotate(135deg);
        }
        &:nth-child(2) {
          opacity: 0;
          right: vw(60);
        }
        &:nth-child(3) {
          bottom: vw(27);
          transform: rotate(-135deg);
        }
      }
    }
  }
}