.gr_ttl {
  height: vw(440);
  display: flex;
  justify-content: center;
  align-items: center;
  .ttl {
    font-size: vw(52);
    line-height: 1;
    font-family: $mincho;
    color: #fff;
    text-align: center;
    font-weight: 300;
    letter-spacing: vw(4);
    span {
      display: block;
      line-height: 1;
      font-size: vw(26);
      margin-top: vw(20);
    }
  }
}