.gr_ttl {
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  .ttl {
    font-size: rem(50);
    line-height: 1;
    font-family: $mincho;
    color: #fff;
    text-align: center;
    font-weight: 300;
    letter-spacing: 4px;
    span {
      display: block;
      line-height: 1;
      font-size: rem(18);
      margin-top: 17px;
    }
  }
}